[2016-06-01 00:23] kevinquinnyo opened #3 "Another question about the http-01 payload / contents"
@tgalopin Preface:  Sorry again for asking a question as opposed to presenting a code issue here, but you were helpful the last time and I've hit a brick wall today.

So basically I'm using this library as part of another application I'm building, so I'm storing the various object data into mysql.

I think I have all of that working, but I can't seem to figure out something basic about letsencrypt

[2016-06-01 12:58] tgalopin commented on #3
Hi @kevinquinnyo !

That's a very interesting question indeed :) ! Thanks for your interest in the library and for your feedbacks, that's really appreciated!

What is important to note here is that the ACME protocol is still not yet fully stable. While the document you linked is still mostly valid, the protocol has changed since then (and I think it's a link from the documentation, I should change

[2016-06-01 14:21] kevinquinnyo commented on #3
@tgalopin Thanks!  That was incredibly helpful and clears it up 100% for me.

[2016-06-01 14:21] #3 closed

[2016-06-02 02:08] kevinquinnyo opened #4 "dns-01 Challenge"
Hi @tgalopin,

You mentioned in #3 that if I had any other questions, feel free to ask, so I'm cashing in on that offer.  ;)

So I have just a few.

1.  With the dns-01 challenge (yet to be implemented here, but I know it's on the todo list), it should automatically cover any subdomains in the certificate's Subject Alternate Name right?  For instance if the certificate were for `mydomain.com` and

[2016-06-02 07:43] tgalopin commented on #4
Hello @kevinquinnyo,

Challenge are not linked to what certificate type you can issue. If you proved you are the owner of a given domain by successfully completing a challenge of any kind, the result will always be the same: you will be able to request single-domain and multi-domain certificates for the domain.

With the ACME protocol, you will be able to request certificates for a fixed amount of

[2016-06-02 14:38] kevinquinnyo commented on #4
The issue I was running into yesterday was that when trying to get the certificate, letsencrypt would respond that www.mydomain.com is not authorized, which would throw an AcmeHttpErrorException:

[code]

So I think to solve it I have to fulfill two http-01 challenges?  One for mydomain.com and another for www.mydomain.com?

[2016-06-02 14:56] tgalopin commented on #4
Indeed, you have to be the proved owner of the two domains. However, once you have proved that (using the http-01 challenge yes :) ), you can request a single certificate valid for both domains, using the method I gave you in the precedent post.

[2016-06-02 23:36] kevinquinnyo commented on #4
@tgalopin Thanks.  Yeah the only reason I'm very interested in the dns-01 challenge is because I assume it will be a single check that will cover any subdomains in the SAN, or an alias or redirect subdomain with one singular challenge.

The reason that's important to me moving forward is because I'm using your library to build out a PAAS of sorts and the easier I can make it for the end-user, the

[2016-06-03 11:48] tgalopin commented on #4
I see your idea, that would be indeed ideal. For the moment, I have a lot of work besides this project, so I won't be able to implement the DNS challenge properly for now. However, if you want to start to work on it in a PR to implement it in your project, I would be happy to give a hand :) . The implementation itself is not that complicated I think (it's simply a matter of understanding what to p

[2016-06-03 23:07] kevinquinnyo commented on #4
@tgalopin I understand completely.  I might give it a shot and submit a PR soon.

[2016-07-26 07:32] shyim opened #18 "Multiple Domains in one certificate"
On my ISP Panel i have only one input for the domain without www and with www. Can i request two domains in one certificate (www.example.com, example.com)?

[2016-07-26 07:58] tgalopin commented on #18
It's technically possible indeed. Let's Encrypt supports [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication) and therefore is able to provide multiple domains certificates.

However for the moment it's not possible to request such certificates using the Acme PHP CLI client. That's something I plan to add before the first beta and it should be quite soon (the monitoring system I was working

[2016-07-26 13:32] tgalopin commented on #18
Working on it: https://github.com/acmephp/acmephp/pull/20

[2016-08-17 08:29] tgalopin opened #22 "Sentry monitoring handler"
Introduce a Sentry monitoring handler provides several advantages:
- made for monitoring (nice UI, ...)
- can handle much more powerful alerts (SMS, e-mails, push notifications, etc.)
- easy to do with the PHP client and the Monolog handler

[2016-08-24 14:08] tgalopin commented on #4
I planned this for 1.1 for the moment (other people asked for it too), but if I have time and find how to do it properly I would like to put it in 1.0 stable.

[2016-08-24 14:20] kevinquinnyo commented on #4
:+1:

[2016-09-10 06:06] cmorgenstern opened #23 "ECDSA certificate support?"
ECDSA certificate signing is a [completed feature](https://letsencrypt.org/upcoming-features/) of Let's Encrypt as of February, and ECDSA intermediates are expected by April 2017. Do you plan on making ECDSA certificate signing an option in the beta release?

[2016-09-10 09:14] tgalopin commented on #23
Hello @cmorgenstern,

It was not planned for now but could be if needed. Have you a reason to prefer ECDSA over RSA? Support for ECDSA will need a bit of work to understand how it works in Let's Encrypt.

[2016-09-11 06:18] cmorgenstern commented on #23
Partially for the political reason that I find NIST-recommended ECC standards not entirely trustworthy after the Snowden revelations, but also technically because ECDSA standards are held to be more secure than anything higher than RSA-2048 and perform more quickly.

Despite not being in beta yet, this is already one of my favorite Let's Encrypt/ACME clients as far as usability and documentation,

[2016-09-13 11:00] tgalopin commented on #23
Thanks for the feedback, that's always appreciated!

I understand your point, I think this could be a nice feature to add to the client. However, it won't be critical for most people so I think this should be planned for 1.1.

The roadmap is actually quite simple: the only missing part for a first 1.0-beta1 (beta = feature freeze) is the handling of multiple domains (https://github.com/acmephp/acm

[2016-09-23 11:06] tgalopin commented on #18
This has been fixed by https://github.com/acmephp/acmephp/pull/24 and will be released in the next version (beta1).

[2016-09-23 11:07] #18 closed

[2016-09-24 15:28] tgalopin commented on #4
The PR https://github.com/acmephp/acmephp/pull/25 is almost ready, I think this will be ready for 1.0 stable (probably beta2).

[2016-09-24 16:19] tgalopin commented on #18
Released in beta1: https://github.com/acmephp/acmephp/releases/tag/1.0.0-beta1. Run `php acmephp.phar self-update` to update.

[2016-09-28 15:18] timmyrs opened #28 "Error in the docs"
At https://acmephp.github.io/documentation/cli/get-certificate.html it says "This command will do four main things" even tho listed are only 3 things.
![image](https://cloud.githubusercontent.com/assets/11009697/18919727/82ca89a8-859f-11e6-97ab-71552a0f9020.png)

[2016-09-29 08:30] tgalopin commented on #28
Thanks, I'll fix it :) .

[2016-09-29 08:34] #28 closed

[2016-09-29 08:34] tgalopin commented on #28
Fixed: https://acmephp.github.io/documentation/cli/get-certificate.html

[2016-10-19 07:07] tgalopin commented on #4
Released in beta2 :)

[2016-10-19 07:07] #4 closed

[2016-11-28 21:16] tgalopin opened #32 "Add command to import certificates from certbot directory"
Would be a good way to simplify set-up as the initial account authorization has already been established.

Certbot directory is `/etc/letencrypt`.

[2016-12-04 18:30] ivanjaros opened #34 "Staging on LE fails with key-change request"
Hi,
I am implementing the core into my app so that I can use LE and all is fine but one thing: if I use the staging directory it will always result in invalid argument exception stating: `Resource type ""key-change"" is not supported by the ACME server (supported: "new-reg", "recover-reg", "new-authz", "new-cert", "revoke-cert", "reg", "authz", "challenge", "cert")`. Funny thing is, the 'key-chang

[2016-12-04 19:55] tgalopin commented on #34
Hello @ivanjaros!

I checked the code and there was indeed an issue in the resources validation in the ResourcesDirectory constructor.

I created https://github.com/acmephp/acmephp/pull/35 to fix it (the 1.0 stable release should follow soon, including it).

[2016-12-04 19:58] #34 closed

[2016-12-04 20:18] tgalopin commented on #34
Don't hesitate to comment here if the issue is still present.

[2016-12-05 12:13] ivanjaros opened #36 "Key challenges by type"
Hi,
the method \AcmePhp\Core\AcmeClient::requestAuthorization transforms the response into an array of AuthorizationChallenge objects. There are only tree types of challenges now and if I want to get the information for the sepcific challenge I want to use I have to filter this array. I think that is an unnecessary step and the challenges should be keyed by the type of challenge they represent.

S

[2016-12-07 20:35] tgalopin commented on #36
Hello @ivanjaros!

Thanks for your suggestion, I'm really busy nowadays but I'll review it this week-end.

[2016-12-08 15:23] ivanjaros opened #37 "What to put into the challenge?"
Hi,
I am trying to generate a certificate(currently by DNS challenge) and I can get challenge(s) but so far I have tried to provide the token, the payload, the second part of the payload(which is the hashed header) and in all cases the validation has failed.

I have checked the docs in here https://letsencrypt.github.io/acme-spec/#rfc.section.7.4 and it sounds to me like after I get the challenge

[2016-12-09 11:53] msebel opened #38 "Problem renewing certifcates"
When authorizing (or doing any command) with a domain where we already created a certificate, the following message is printed to the command line on every command, for example:

Command: php acmephp.phar authorize -s http brucht.me

Output:
~~
Loading account key pair...
Requesting an authorization token for domain brucht.me ...

  [InvalidArgumentException]
  Resource type ""key-change"" is not

[2016-12-09 11:58] msebel commented on #38
Actually, the same InvalidArgumentException also appears when we just type:
php acmephp.phar authorize help

Is the installation kind of... broken? Creating new certificates works fine though.

[2016-12-09 12:33] tgalopin commented on #38
Hello @msebel !

This was an update of Let's Encrypt, adding a resource type we did not handle with this client. The fix was merged in master a few days ago and I will release it either this night or tomorrow. I'll keep this issue open so you will be able to easily tell me if the new version does not fix your probem.

[2016-12-09 13:59] msebel commented on #38
@tgalopin You da real MVP!
And yes, I got the help command mixed up badly :-).

I'il keep you updated as soon as we tested the new version.

[2016-12-09 18:43] cpu opened #39 "Unused `RECOVER_REGISTRATION` Resource"
Hi there,

I noticed [ResourceDirectory.php](https://github.com/acmephp/core/blob/fbd4dadae158f1fd475ae996ca9a96eb79a99c7b/Protocol/ResourcesDirectory.php) includes a `RECOVER_REGISTRATION` resource for `/recover-reg`.

You should be able to delete this outright. It doesn't look like this constant is used anywhere outside of the directory. It also isn't present in the latest ACME draft specificati

[2016-12-09 19:14] tgalopin commented on #39
Hello @cpu !

I'm glad a Let's Encrypt core member as you take a look around here :) . I'll change this, thanks for the tip!

[2016-12-09 19:29] #39 closed

[2016-12-09 20:02] tgalopin commented on #38
I just released the beta3 which should solve the issue. Please tell me if it's not the case.

Also, I just noticed in your first message that you wanted to renew certificates: you don't need to re-run `authorize` for renewal. Once you are the proved owner of a domain, the private key generated by Acme PHP is enough to renew the certificate by running the same `request` command again.

[2016-12-09 20:03] tgalopin commented on #34
The beta3 release should fix the issue, please tell me if you still have the problem.

[2016-12-10 11:27] msebel commented on #38
Works as expected, I was able to renew all certificates. Thanks for the fast update!

Our script is still very prototypey, hence we still to a new authorization everytime, but with acmephp we we're able to provide about 100 customers with fully automated ssl, deploying the certificates to 3 loadbalancers. I definitely need to refactor our automation :-)

[2016-12-10 11:27] #38 closed

[2016-12-10 12:43] tgalopin commented on #38
I'm glad it's working properly. Your context and usage is interesting indeed :) ?

[2016-12-11 16:38] tgalopin commented on #36
I thought about this and I checked the specification: the type is can be non-unique. Technically, any Acme server could support multiple times a type (`http-01` for instance) with multiple different URLs. I want the AcmePHP client to stick strictly to the specification so I prefer not to change this. I think the external check is not that much of a problem and can even be useful in some cases.

Th

[2016-12-11 16:38] #36 closed

[2016-12-12 20:41] mikemunger opened #42 "bin/acme should check one directory higher for autoload.php"
Hi there,

Rather than using the phar, I am running the bin/acme file - but as-is it fails unless I tell it to look one directory higher for the composer autoload file like this:

[code]

because after a composer install, the folder structure will be: vendor/acmephp/acmephp/bin , making bin need to look 3 folders up to be in vendor to then find autoload.php.

Unless maybe I am doing something wron

[2016-12-12 21:07] tgalopin commented on #42
Hello @mikemunger!

You are completely right, I fixed this in https://github.com/acmephp/acmephp/pull/44.

Thanks for your feedback!

[2016-12-12 21:14] #42 closed

[2016-12-15 06:31] gmgarrison opened #46 "Adding subdomain to existing certificate"
I've got the certificate for an unqualified domain setup then later tried to add a subdomain. I received this error:

Requesting first certificate for domain ********* ...

  [AcmePhp\Core\Exception\Server\UnauthorizedServerException]
  [unauthorized] The client lacks sufficient authorization: Error creating new cert :: Authorizations for these names not found or expired: ********* (on request "PO

[2016-12-15 08:11] tgalopin commented on #46
Hello!

This indicates you are not the proved owner of the subdomain. Let's encrypt forces you to prove your ownership over each domain and subdomain you want to request.

Simply run the authorization process with the subdomain.

[2016-12-15 11:08] Sh1nto opened #47 "Monitoring Slack does not work"
I have the following code in .acmephp/acmephp.conf

[code]

When executing the monitoring Test i get:
[code]

I'm using Version: Acme PHP - Let's Encrypt client 1.0.0-dev

[2016-12-15 12:25] tgalopin commented on #47
Hello @Sh1nto,

That's an issue with the default config file (`#general` is considered a comment in YAML), can you put `general` instead (without the hashtag) and retry?

Thanks by advance!

[2016-12-15 18:55] #46 closed

[2016-12-15 21:50] tgalopin commented on #37
Hello @ivanjaros !

I'm sorry for not answering this issue faster but I'm working on improving the Core documentation and it should be useful for your use-case.

For the moment, I have to admit that I'm not sure what would be the best practice on how to create and use the client with DNS challenges (it's the same idea as HTTP, but the checking is different, so it would probably require a bit of lo

[2016-12-15 21:50] Sh1nto commented on #47
Thanks @tgalopin

After removing the # before general everything was working as expected.

[2016-12-15 21:50] #47 closed

[2016-12-15 21:52] tgalopin commented on #47
Thanks for your feedback :) ! You can easily create a small PR to remove the hashtag in the default config file (https://github.com/acmephp/acmephp/tree/master/res) if you want, that would put your name in the contributors list :) . If you don't want to do so, I'll create a PR to fix this tomorrow :) .

[2016-12-15 21:59] Sh1nto commented on #47
I'll try it tomorrow, will be my first contribution.

[2016-12-15 22:03] tgalopin commented on #47
Awesome :) ! Welcome to open-source! Don't hesitate to ask on gitter (https://gitter.im/acmephp/acmephp) if you need help :) !

[2016-12-15 23:56] ivanjaros commented on #37
Hi, the issue is not with setting the DNS(that is user's problem) but with the "secret" not being accepted by LE.
Anyway, I have moved to HTTP challenge since.

[2016-12-16 00:30] mikemunger opened #48 "Ability to specify alternate services.xml file for Cli client"
Hello,

Is there a way to specify overriding the services.xml file for the Cli client?

Here is my thought process: I like 98% of what the Cli client does such as handling storage and making calls to the LE api, and I was hoping to override the last 2% with some custom service classes rather than building 100% of a custom Cli client alternative myself. I'm hoping to just modify a few small behavio

[2016-12-16 10:18] ivanjaros opened #50 "CertificateParser fails with CloudFlare certificates"
Hi,
I have site secured by the CloudFlare DNS and it provides its own ssl certificate that handles communication from client to DNS/CloudFlare. But communication from CF to server is not encrypted so CF offers free SSL certificate(or you can upload your own) for this purpose. I have opted for the free one(since it can be valid for 15 years it you like = no hassle with updating LE). I am trying to

[2016-12-16 10:28] tgalopin commented on #50
Hello @ivanjaros,

That's probably a bug on our side (we designed the SSL library with the Let's Encrypt certificates in mind). Can you paste your certificate here so I can fix the bug?

Thanks by advance!

[2016-12-16 10:53] ivanjaros commented on #50
[code]

[2016-12-16 17:15] c33s opened #51 "Obtain self-signed certificate in "staging/developer" enviroment"
workaround for

https://community.letsencrypt.org/t/obtain-fake-certificate-in-staging-mode-without-authorization/17629

in development environment in a [vagrant][1] box deployed with [puppet][2]/[chef][3] , it is sometimes not (easily) possible to have inbound traffic from the letsencypt server.
so it would be awesome to have an for example environment variable which is read by acmephp and which

[2016-12-16 17:54] tgalopin commented on #51
Hello!

That looks like an interesting idea, I'll experiment stuff. I get back at you when I have a clear opinion on this :).

Thanks for the feedback!

[2016-12-17 12:33] tgalopin commented on #51
Hello @c33s,

I read the link and I think the best way to achieve what you want is to use boulder, the self-hosted Let's Encrypt server. AcmePHP is able to access any server speaking the ACME protocol, so you will be able to request certificates using it.

In my opinion, AcmePHP testing CA (https://github.com/acmephp/testing-ca) is what you need: it's a standalone docker image to run your own vers

[2016-12-17 12:34] tgalopin commented on #50
Thanks! I see you don't have included the whole chain, did you simply put the `cert.pem` file in Cloudflare? Maybe it's the problem: you need to specify the complete chain (`fullchain.pem`) so Cloudflare can trust your certificate.

[2016-12-17 12:39] tgalopin commented on #48
Hello @mikemunger,

We do have a problem of decoupling things in the CLI (we saw it a few weeks ago, but we wanted to focus on releasing a stable for now). I don't think we should provide the possibility to override the default `services.xml`, I would prefer instead to create a `acmephp/storage` or `acmephp/common` repository to provides features such as making calls and storing results in a direc

[2016-12-17 12:40] tgalopin commented on #37
Hello,

I'll write the documentation about the Core then. I close this issue if you fixed your problem :) .

[2016-12-17 12:40] #37 closed

[2016-12-17 12:55] ivanjaros commented on #50
No, it's not like that. That is cert issued by them to me. Their service works in a way that they provide their own SSL cert for your domain that you point to their DNS which makes the communication secure from client/visitor to the CF DNS/NS server but from there to you(your physical server) it is insecure.  For this reason they offer free unlimited SSL certificate that you can use on your server

[2016-12-17 13:12] tgalopin commented on #50
Oh ok, I got it. I'll work on this then, thanks!

[2016-12-17 13:54] ivanjaros commented on #50
It's all about this: https://github.com/acmephp/acmephp/blob/master/src/Ssl/Parser/CertificateParser.php#L45

so that's why I was asking if this is "bug" on Acme PHP's part of CloudFlare's.

[2016-12-17 15:59] c33s commented on #51
first of all thank you for this awesome project!
comming from php/symfony i love having such a cool php implementation of the letsencrypt client.

back to topic: when i think about having to setup all this stuff i feel its really overkill for me. having a vagrant box which uses virtualbox and which is spinning up one machine (in my case a simple php hosting machine) where i also wrote the puppet c

[2016-12-20 16:08] dfritschy opened #52 "Another problem renewing certificates"
Everything looks fine in the CLI output...
[code]
[code]
... however, the certs remain untouched:

[code]
... whereas `distinguished_name.json` is loaded:

[code]
My environment:

[code]

When testing with beta-3, I received:

[code]

What can be done to avoid an unpleasant christmas surprise? Thanks for your support.

[2016-12-20 16:16] tgalopin commented on #52
Hello @dfritschy,

It seems you are not using the same account key as you used when you requested the certificate the first time (that's what Let's Encrypt means by saying `The client lacks sufficient authorization`. To solve this issue, you can simply re-run the while process of authorization (`php acmephp.phar authorize yourdomain.org` and `php acmephp.phar check yourdomain.org`, check the [docu

[2016-12-20 17:12] dfritschy opened #53 "Self-Update does not work in beta-2"
[code]

[2016-12-20 17:14] dfritschy opened #54 "DNS challenge authorization throws an exception"
[code]

[2016-12-22 10:39] tgalopin commented on #53
Could you retry now we waited a bit? I think there was an issue with the Github SSL certificate.

[2016-12-22 10:40] tgalopin commented on #54
You should update to beta3 to fix this. Given your other issue with self-update, you can simply redownload the beta3 PHAR using the documentation: https://acmephp.github.io/documentation/getting-started/1-installation.html. It should solve your issue?

[2016-12-22 14:22] dfritschy commented on #53
unfortunately, no change. And adding verbosity does not reveal more info:
[code]

[2016-12-22 14:24] tgalopin commented on #53
Can you tell me more about your system? What operrating system are you using? It seems your cURL version is outdated and does not support SNI, can you try to upgrade it?

[2016-12-22 14:32] dfritschy commented on #53
The system is not brand new but regularly maintained by our hoster. A PHP upgrade is planned for the beginning of February.

[code]

[2016-12-22 14:58] dfritschy commented on #52
While I see no reason why the authorization should no longer be valid, I re-run the authorization process using DNS challenge. It proved easier than expected with no delay between authorize and check requests. After that I was able to renew the certificates successfully.
I was then also forced the renewal of the other domains, with no problems.
Thanks for your support.

[2016-12-22 14:59] dfritschy commented on #54
Works find with beta3. Thanks for your support.

[2016-12-22 15:33] tgalopin commented on #52
Okay, that's strange but I'm glad your problem was solved. I'll try to reproduce the issue but as I'm not sure what your context is, I can't be sure to solve it.

[2016-12-22 15:38] #54 closed

[2016-12-23 09:15] flo-sch opened #57 "self-update var_dump() with 1.0.0-dev?"
Hey,

Not sure if it's actually a bug, but in the {IMO} last-version, the self-update end-up in a var_dump of the available versions, without actually any way to finish the update (choose a version manually?).

Am I missing something?

It is not a main issue, acmephp works fine otherwise, but I was curious :)

[code]

[code]

[2016-12-23 10:31] tgalopin commented on #57
Oops, that's indeed not normal :D. I'll fix it as soon as I get a computer :)

[2016-12-23 11:41] flo-sch commented on #57
Not urgent ;)

I just do not find by myself which branch is concerned, or where it could come from...

[2016-12-24 17:16] tgalopin commented on #57
The development version is manually deployed, it simply comes from an old broken artifcate I uploaded. Sorry for the mistake :) . I fixed it, you can redownload the dev PHAR.

[2016-12-24 17:16] #57 closed

[2016-12-26 16:39] #50 closed

[2016-12-26 16:41] tgalopin commented on #50
It's fixed in master and it will be released in the next release :) .

[2017-01-04 15:14] ivanjaros commented on #34
Seems like the change hasn't been merged into acmephp/core since there is only beta 2 available.

[2017-01-04 15:21] tgalopin commented on #34
Indeed, I forgot to sync the splitted repository. I should really automate this.

I did it, you should now be able to get it.

[2017-01-04 15:36] ivanjaros commented on #34
Works like a charm. Thanks!

[2017-01-17 18:55] cmorgenstern commented on #52
Experienced the same issue with 1.0.0-dev as well:
[code]

Re-ran the authorization/check process and then renewal was successful. Bit worrisome, though, since I use a cron job to handle renewal but I happened to check the logs in time before the certificates expired.

My environment:
[code]

[2017-01-17 19:27] tgalopin commented on #52
Hello @cmorgenstern, thanks for your feedback. I'll have a look at the issue this week-end, I'm glad you didn't have troubles with the renewal (note that you can configure the monitoring to alert you if the renewal failed).

[2017-02-03 02:00] redemption opened #62 "change storage location or copy to another location"
Hi there,

Wonderful tool, thanks for making it.

I'm wondering whether there's a way to change the path where files are stored, or else how to configure the post_generate in order to move or copy the generated files or directory to another location.

Eg right now the location is:

/root/.acmephp/master/certs/domain.org/cert.pem

And I want to have a copy at:

/foo/bar/ssl/domain.org/cert.pem

For

[2017-02-03 02:08] tgalopin commented on #62
Hello @redemption!

For the moment it's not possible easily, but it can be added as a post-generate action indeed. I don't have much time lately to work on such a feature, but if you can wait (or even work on it :) !), it's a great idea I would like to add toe AcmePHP.

Thanks for your feedback!

[2017-02-05 09:29] flo-sch opened #63 "LibreSSL support?"
Not actually sure if this is possible, but it might be interesting for acmephp to be libressl-compatible?

This library is a modern rework of openssl, security-wise best-practice based, reducing the risk of vulnerabilities...

Just suggesting :)

[2017-02-05 09:30] flo-sch commented on #57
( Sorry forgot to answer, but indeed it works perfectly now, thanks for your reactivity! :) )

[2017-02-05 23:02] tgalopin commented on #63
Technically, if LibreSSL is a fork of OpenSSL and works with the PHP OpenSSL extension it should work without specific code on AcmePHP side. Can you try?

[2017-02-05 23:03] flo-sch commented on #63
Yep, I figured this out right after asking actually... I'll set-up a VM to test it next week!

[2017-02-05 23:04] #63 closed

[2017-02-19 04:35] MarcusHKrueger opened #64 "Unable to renew certificate?"
I am unable to renew the certificates on my 2 domains. One has already expired, the other is about to. I updated to the beta-2 and reran the commands with no luck. The cert files and such are also not being updated. Any idea what I could be doing wrong here?

http://i.imgur.com/jWAagJl.png

[2017-02-19 10:34] tgalopin commented on #64
Can you try with the latest Beta?

[2017-02-19 15:10] Waizujin commented on #64
With the latest version, dev, I get

http://i.imgur.com/VPI1ER8.png

So somehow my domain is now not authorized? I have to go through the entire process again? Or am I misreading things? I just hope this doesn't happen everytime.

[2017-02-19 15:15] tgalopin commented on #64
Hello @Waizujin,

I think you stumbled a problem we had in beta2 that I was not able to track down. Can you remove the beta2 (or dev) phar, redownload the beta4 one (https://github.com/acmephp/acmephp/releases) and redo the process of request from the beginning? It seems indeed you need to reauthorize your server. You shouldn't have to do it in the future though.

Sorry for the inconveniance.

[2017-02-21 10:29] JonasBVS opened #65 "Registering key error"
getting this while trying to do initial register

[InvalidArgumentException]
  Resource type ""key-change"" is not supported by the ACME server (supported
  : "new-reg", "recover-reg", "new-authz", "new-cert", "revoke-cert", "reg",
  "authz", "challenge", "cert")

[2017-02-21 16:58] tgalopin commented on #65
Hello!

What version are you using? Can you update to the latest if you are not using it and retry?

[2017-02-21 19:33] JonasBVS commented on #65
just following this to the letter :)
https://acmephp.github.io/documentation/getting-started/1-installation.html

[2017-02-21 20:17] tgalopin commented on #65
Oh indeed, I forgot to update this page. You can replace beta2 by beta4 :) .

[2017-03-05 00:33] chokyice92 commented on #64
Hi there,

I've got the same issue (certificate expired)
`php acmephp.phar request  www.example.org`
[code]
Weird because 2017-03-02 is not ine less than a week, it's in the past).

So I tried to authorize again, then when I:
`php acmephp.phar check -s http  www.example.org`
I've got this:
[code]

Tested with 1.0.0-dev and 1.0.0-beta4.
Can you please have a look at this? I've got 3 production site

[2017-03-05 05:13] Waizujin commented on #64
I wasn't able to fix the issue, even after redoing everything. So I just switched to CertBot and moved on.

[2017-03-22 09:41] bpolaszek commented on #52
Hello,

Do you have some news about this bug?
I'm experiencing the same issue.

When I `php /root/acmephp.phar request mydomain.com --force` I've got this:
[code]

[2017-03-24 04:09] gacekssj4 commented on #64
I have exactly same problem. Do I need to authorize every domain over and over everytime I want to renew certificate? All automation magic goes away and becomes hard labour....

[2017-03-24 04:15] gacekssj4 commented on #64
@chokyice92 Check, if you dont have any kind of force redirect to SSL. If certificate expired it probably can't open url with validation. Had same issue and had to disable all SSL on all sites.

[2017-03-24 09:04] fabbrikk opened #66 "acmephp monitoring-test questions/problems"
When calling
`acmephp monitoring-test`
I can see this output
[code]
but no email is sent.

My acmephp.conf (monitoring part) is the following:
[code]
How can i test email error/info monitoring?
With the 'info' level setting, commands like theese
[code]
should generate email report?
Thanks for your support.

[2017-03-29 12:35] samlittler commented on #65
@tgalopin Thanks, problem solved.

[2017-03-29 13:22] samlittler opened #67 "Missing private.pem file"
I've gone through all the steps and seems to have worked fine, except I'm missing the private.pem file.  Confirmation message says:

    This certificate is valid from now to 2017-06-27T12:17:00+0000.

    5 files were created in the Acme PHP storage directory:

        * /root/.acmephp/master/private/redacted.co.uk/private.pem contains your domain private key (required in many cases).

        *

[2017-03-29 13:22] samlittler commented on #67
I need to open my eyes. Sorry guys.

[2017-03-29 13:22] #67 closed

[2017-04-10 10:08] samlittler opened #69 "AcmePhp\Ssl\Exception\KeyPairGenerationException on register"
I'm trying to use this software on Windows Server (unfortunately) and when running the following command I get an exception I can't figure out.

`php acmephp.phar register redacted@example.com`

Which throws out the following output.

    No account key pair was found, generating one...

      [AcmePhp\Ssl\Exception\KeyPairGenerationException]
      OpenSSL key creation failed during generation wi

[2017-04-19 04:07] Darunada commented on #62
+1 this would help me out a lot

[2017-04-25 05:57] crossjoin commented on #69
I had the same problem and could fix this by setting the OPENSSL_CONF environment variable, as described here: http://php.net/manual/en/openssl.installation.php

After that I got a CURL error (curl: (60) SSL certificate : unable to get local issuer certificate), which can be fixed by downloading the file https://curl.haxx.se/ca/cacert.pem and configuring it in the php.ini (setting curl.cainfo).

[2017-05-04 17:53] pdbreen commented on #64
Any update on this?  I had to re-authorize every server before it would accept the renewal requests.  As @gacekssj4 mentioned, this kind of kills the promised automation!

In case its helpful, when I ran a check prior to re-authorizing, this is what came back:

[code]

I know nothing of the protocol, but this seems to suggest authorization needs to be refreshed periodically as well?

[2017-05-04 21:08] tgalopin commented on #64
Indeed, this seems to indicate so. I'm not sure why, perhaps did the protocol change recently and I missed it. I have to admit I don't have much time right now (busy for work), but as soon as  I can I will have a look. In the meantime, don't hesitate to rerun the authorization process.

I'm sorry for the incovnenience, that's the issue with having to deal with an unstable protocol :/ .

[2017-05-19 04:28] Sh1nto commented on #52
Hi, i'm Using beta4 and have the Same Issue for the second time:
[code]
[code]

The domains will expire in 1week. I'm using the following Syntax in the daily cron:

[code]

I'm Missing something? It doesn't make fun to authorize > 20domains every 3month,...

[2017-05-20 18:30] Sh1nto opened #70 "Renew certification Issue"
Hi, i'm Using beta4 and have the Same Issue for the second time:
[code]
[code]

The domains will expire in 1week. I'm using the following Syntax in the daily cron:

[code]

I'm Missing something? It doesn't make fun to authorize > 20domains every 3month,...

[2017-05-23 07:05] dfritschy commented on #70
Unfortunately, I have to confirm your findings. Obviously we have the same issue as in #52, and going through authorization every 3 months is really annoying. @tgalopin have you lost interest in your project?

[2017-05-23 09:14] tgalopin commented on #70
I'm sorry about this issue, I investigated it a few times and did not find any reason why it's happening. I have not lost interest in the project but open-source does not pay the bills unfortunately :) . I will give a look asap, sorry for the inconvenience.

[2017-05-31 14:06] bpolaszek commented on #52
Hi there,

Any news about this issue?

Thank you,
Ben

[2017-06-07 20:16] redemption commented on #64
Hi there, is there any sort of update on this?  I just encountered the exact same problem.

[2017-06-15 15:10] babblo commented on #64
Hi, same problem here. Just wanted say that I was able to renew a cert.. these were the steps.

- Tried to renew, got the error.
- Deleted everything about the domain inside .acmephp folder.
- Started a new authorization, etc.
- Got the new cert.
- Just to see what could happen, tried to renew.. and voila. cert was renewed without problem.

Hope this help @tgalopin to figure out whats happening.

[2017-06-15 15:37] tgalopin commented on #64
@babblo thanks for the information.

It seems your private key was corrupted somehow, ro didn't match the authorization stored on the Let's Encryt server. I'm not sure why this is happening :/ .

[2017-06-22 11:25] humayunghani commented on #64
@tgalopin Same problem here AcmePHP using v1.0.0-dev. But i'm more afraid of whether this renewal issue might happen with the core client library as well? I implemented acmephp using core/AcmeClient.php. I have quite a lot certs starting going to expire from 9th July.

[2017-06-22 11:47] tgalopin commented on #64
@humayunghani in the worst case scenario, you might ahve to redo the authorization process as well (which you probably integrated in your code). But indeed, the default renewal may not work, and I have no idea why because it's working now. Perhaps were there a purge in the Let's Encrypt servers that made your authorizations expires earlier than expected :/ .

[2017-06-22 11:48] tgalopin commented on #64
To all who have this issue, please note that rerunning the authorization process work properly and will let you renew your certificates.

[2017-06-22 12:03] humayunghani commented on #64
Ok thanks a lot. I'll re-run authorization for all domains.

[2017-06-29 13:06] TheJoin95 opened #71 "Authorization challenge expired [solution?]"
Hi guys,

we have a problem to renew certificates, because we get an authorization errors.
The real issue is that let's encrypt has changed (in January) the expire date of the authorization challenges from 60days to 30days (according to this: https://community.letsencrypt.org/t/upcoming-api-changes/17947).

Acutally, let's encrypt send us an email 10days before our certificate expire, but if we re

[2017-06-30 14:15] tgalopin commented on #71
Hello @TheJoin95,

I was pretty sure the problem was coming from something like this but I didn't have time to find the real issue, so: thank you very much, and I really mean it :) !

I will work on changing when authorization should be done in the code as soon as possible.

Thanks!

[2017-06-30 14:16] tgalopin commented on #70
@TheJoin95 probably found the issue here: https://github.com/acmephp/acmephp/issues/71 I will update the code to fix this.

[2017-06-30 14:16] tgalopin commented on #64
@TheJoin95 probably found the issue here: https://github.com/acmephp/acmephp/issues/71 I will update the code to fix this.

[2017-06-30 14:16] tgalopin commented on #52
@TheJoin95 probably found the issue here: https://github.com/acmephp/acmephp/issues/71 I will update the code to fix this.

[2017-06-30 14:34] tgalopin commented on #71
Actually this seems a bigger task than I expected, as AcmePHP now needs to be able to automate the authorization process. I'm in vacations next week, I will try to find time to work on this :) .

[2017-07-17 18:54] PK232 opened #74 "Is There An Alternative To --expand"

[2017-07-17 19:01] PK232 commented on #74
Sorry - didn't mean to post without a description.

I wanted to add the www sub-domain to my certificate that I generated with acmephp and I thought the syntax would be

php acmephp request mydomain.com -a www.mydomain.com --expand

It looks like the --expand switch is not available using acmephp.   What would be the best way of adding a sub-domain to an existing certificate?

[2017-07-17 20:32] tgalopin commented on #74
Hello @PK232 !

For the moment this is not possible, but it's a good idea. Thanks for the proposal :) .

[2017-07-18 12:21] gacekssj4 opened #75 "Possibility to write authorization tokens to file"
It would be awesome idea, to allow us to store auth files that need to be created on FTP to file. Currently I haven't found command for it. So I can create all files, upload them via FTP and then run acmephp.phar check on domains.
Thanks in advance

[2017-07-25 21:44] LeftPinkie opened #76 "Enhancement: Option for storage of conf and key pair"
Can you add option to store / retrieve the conf and key pairs from a different location than the default `~/.acme/`?

[2017-07-26 01:20] LeftPinkie opened #77 "Monitoring send email via sendmail or php mail()"
Enhancement request...

In addition to SMTP, allow th monitoring emails to be sent using sendmail or PHP's mail().

[2017-08-09 23:53] axel-rutz commented on #77
YES, that would ease a lot. This should be quite easy to implement:

In EmailHandlerBuilder, check if smtp host is set. If not, use the NativeMailerHandler instead of the SwiftMailerHandler.

[2017-08-12 00:10] LeftPinkie commented on #77
Actually I am requesting this be compiled into the .phar and implemented via the `~/.acmephp/acmephp.conf` config file.  Currenntly, it says only SMTP is supported for the monitoring email.

[2017-08-12 21:07] mkoske commented on #69
I had similar issue, but got it fixed by adding OPENSSL_CONF environment variable as @crossjoin did.

PHP had an example file distributed with it, but what should be put in that file? How to configure it correctly?

[2017-08-16 12:03] tgalopin commented on #77
Hello @LeftPinkie,

Thanks for the proposal, it would be indeed useful. Would you have time to try to work on it? This would involves updating https://github.com/acmephp/acmephp/blob/master/src/Cli/Monitoring/EmailHandlerBuilder.php, it shouldn't be too difficult (get the config, check if the "transport" option is defined and what values it is and send the mail using the appropriate transport). Wo

[2017-08-16 12:07] tgalopin commented on #76
Hello @LeftPinkie,

It is not possible to change the location of storage of Acme PHP (at least not for the moment) but I think the feature request https://github.com/acmephp/acmephp/issues/62 would solve your issue, wouldn't it?

[2017-08-16 12:12] LeftPinkie commented on #76
Yes, that would solve it.  I'll close this issue and follow the feature reqest #62.

[2017-08-16 12:12] #76 closed

[2017-08-16 12:13] LeftPinkie commented on #77
I will give it a try.

[2017-08-16 12:13] #52 closed

[2017-08-16 12:15] tgalopin commented on #77
Awesome, thanks! Don't hesitate to ping me here or on Twitter (https://twitter.com/titouangalopin) if you need a hand :) .

[2017-08-16 12:16] tgalopin commented on #51
I'm sorry I did not answer you, please don't hesitate to ping me if you need more help.

[2017-08-16 12:17] tgalopin commented on #53
Hello,

Is this issue still present? I think it probably comes from PHP 5.5, has your PHP version been updated since then?

[2017-08-16 12:27] LeftPinkie commented on #77
I am re-thinking this request.  For the purpose of cross-platform compatibility, using sendmail or PHP mail() on a Windoze system may be problematic if PHP is not configured correctly.  Since I don't have access to a Windoze platform to test... is it really worth implementing this request just for Linux?  I am thinking SMTP is universal enough.  Any thoughts?

[2017-08-16 12:29] tgalopin commented on #77
I think it's worth it, especially because you only have to rely on SwiftMailer SendMail transport: https://swiftmailer.symfony.com/docs/sending.html#the-sendmail-transport, the aim being only to choose between the SMTP or SendMail transport on https://github.com/acmephp/acmephp/blob/master/src/Cli/Monitoring/EmailHandlerBuilder.php#L49. It does not involves a lot of complexity :) .

[2017-08-16 12:38] #64 closed

[2017-08-16 12:38] #65 closed

[2017-08-16 12:40] tgalopin commented on #66
Hello,

Sorry for the delayed answer. "info" level includes errors, so you should receive the email. Have you checked your SMTP credentials? E-mails are difficult to debug as they don't have a centralized server able to tell you if there was an error.

[2017-08-16 12:41] tgalopin commented on #69
Do you have other issues with OpenSSL in your applications? I don't think this is related to Acme PHP.

[2017-08-16 12:44] tgalopin commented on #75
Hello,

I'm not sure to understand what you mean. You would like to push your certificates and key pairs by FTP on a remote server?

[2017-08-16 13:01] dfritschy commented on #53
I can't tell, as I have given up `acmephp` and had my hoster install standard `certbot`. No more pains since then.

[2017-08-16 13:04] tgalopin commented on #53
Okay, sorry for the inconvenience.

[2017-08-16 13:04] #53 closed

[2017-08-16 16:11] axel-rutz commented on #77
Another +1 for it's worth it. For a good coder it's faster to implement that than set up a SMTP server ;-).
Also some people (including me) don't like  having SMTP passwords on a config file. Once pushed to a public repo and we have another Spamgun.

[2017-08-17 08:15] fabbrikk commented on #66
Hi, could be the : character in the password to cause problems?

[2017-08-17 16:31] tgalopin commented on #66
It could, do you use quotes around the password? If you don't, try to add them.

[2017-09-14 00:36] stefanpolzer commented on #62
+1 Wonderful tool but without this, I can't us it

[2017-09-14 00:41] Darunada commented on #62
@stefanpolzer I ended up cloning the repos, changing the paths, and building the phar myself.  I messed with putting it into the config but like @tgalopin said it isn't easy.  Good luck!

[2017-09-14 09:13] tgalopin commented on #62
I'll have a look as soon as possible on this.

[2017-09-15 16:47] babblo commented on #71
Hi @tgalopin, any updates on this issue?

[2017-09-27 18:28] Blah2014 opened #80 "php acmephp.phar status"
How to solve this?

[Exception]
  DateTime::__construct(): It is not safe to rely on the system's timezone se
  ttings. You are *required* to use the date.timezone setting or the date_def
  ault_timezone_set() function. In case you used any of those methods and you
   are still getting this warning, you most likely misspelled the timezone id
  entifier. We selected the timezone 'UTC' for now, but

[2017-09-27 19:17] #80 closed

[2017-10-11 15:50] sakumatto commented on #71
Hi @tgalopin, any updates on this issue? Many of my cert just expired because I'd cronned them in July :(

[2017-11-29 22:06] jmorganmartin commented on #71
@tgalopin A potential solution/add-on would be to add a configuration to set a path to the `.well-known/acmechallenge` directory for each domain. This would make authorizing as easy to set up and repeat as getting new certificates.

[2017-12-31 10:12] grzchr15 opened #82 "Plugins for acmephp"
To further automate the certificate creation process it woud be helpfull to have the DNS challenge supported with plugins for a range of DNS Providers ( to direct create the TXT DNS entries ).

php acmephp.phar authorize --solver dns yourdomain.org --dns-provider dns-plugin

php acmephp.phar setup --dns-provider dns-plugin to setup  creditentials, server endpoints ..

where dns-plugin could be any

[2018-01-03 10:21] grzchr15 commented on #82
https://certbot.eff.org/docs/contributing.html#dev-plugin
https://certbot.eff.org/docs/using.html#combining-plugins

How do you/we want to support dynamic discovery of plugins for Authenticator ( acme.challenge for DNS APIs) and Installers for certain webservers?

[2018-01-12 17:08] lyrixx opened #83 "Release ?"
Hello.

The last release is 1 year old. And I have some issue with it. I would like to try a new version but there are release. Could you release it please ?

Thanks.

[2018-01-15 15:51] tgalopin commented on #83
Hello @lyrixx,

Thanks for your message, I am going to work on the project in the next few days to fix issues and do a release.

[2018-01-20 12:39] matjon opened #84 "Move combined.pem to /private/ subdirectory"
Hello,
File combined.pem contains a private key, yet it is stored in the /certs/ subdirectory. This can be dangerous - someone may publish it in error.

It should be moved to the /private/ subdirectory.

Note: this may break backwards compatiblity so probably it should be created in the /certs/ subdirectory only if it existed there previously.

See:
https://github.com/acmephp/acmephp/blob/09437a74

[2018-01-20 12:47] matjon commented on #84
A symlink may be created at certs/$domain/combined.pem that points to private/$domain/combined.pem.

[2018-01-20 22:16] tgalopin commented on #84
Thanks for the notice, that's actually a very good point. If you want to do a PR, don't hesitate, otherwise I'll have a look tomorrow. Thanks!

[2018-01-21 17:34] tgalopin commented on #83
Hello @lyrixx,

I just released, but there is still a known issue with expiration of authorization challenges that is very difficult to solve given the position of AcmePHP in the infrastructure: https://github.com/acmephp/acmephp/issues/71. You may still have issues.

[2018-01-21 17:34] #83 closed

[2018-02-15 17:47] MatG01 commented on #71
Hi @tgalopin,
A honest question, not a complaint (I appreciate your work on that tool, I use it for 20+ domains):
As you are still making releases, I wonder how you use the tool yourself, because this issue makes it pretty unusable for me. The need to manually re-authorization each domain after a month defeats the purpose of Let's Encrypt and of acmephp for me.
My question: do you have a workaroun

[2018-02-15 18:20] babblo commented on #71
@MatG01 as a workaround you can renew the certs every 20 days or so, that way you don't need to re-authorize the domains. Let's Encrypt has limits far beyond that amounts, don't worry.

[2018-02-15 18:29] MatG01 commented on #71
@babblo I tried that once and it didn't work for me. The domains still expired. But if you say that that's the way to do it, then I assume I made a mistake and I will try again. Thanks.

[2018-02-15 18:38] babblo commented on #71
@MatG01 be sure you --force the updates.

[2018-02-15 18:51] MatG01 commented on #71
@babblo that sound like a good hint. Thanks a lot.

[2018-02-22 03:36] philipsharp opened #88 "Access to authorization expiration date?"
Use the AcmePHP Core library I would like to have access to the authorization expiration date.

To do this I would expect that `AcmeClient::requestAuthorization()` and `AcmeClient::challengeAuthorization()` would return authorization objects, not just the challenges. I realize that this would be a BC-breaking change for the library, although not necessarily for the CLI client.

Additionally, my re

[2018-02-22 03:55] philipsharp opened #89 "ACME v2 Support"
Let's Encrypt has released their staging environment for ACME v2 (including wildcard certificates): https://community.letsencrypt.org/t/staging-endpoint-for-acme-v2/49605

Are there plans to support v2 with this project?

[2018-02-22 16:58] tgalopin commented on #89
From what I remeber, @jderusse may want to have a look. I think he'd be happy to have a helping hand if you're interested :) !

[2018-03-01 18:46] simonrodan opened #90 "Renewal problem"
I tried renewing a certificate that was issued last year (it's about to expire).

/usr/bin/php /home/simon/acmephp.phar request --force  strategy.sjsu.edu
Loading account key pair...
Forced renewal.
Loading domain key pair...
Loading domain distinguished name...
Renewing certificate for domain strategy.sjsu.edu ...

  [AcmePhp\Core\Exception\Server\UnauthorizedServerException]
  [unauthorized] The

[2018-03-01 20:43] TheJoin95 commented on #90
It's seems like an issue with strategy.sjsu.edu site or the machine where you are making a new cert.
Are you sure that strategy.sjsu.edu is reachable? Have you tried a ping to the site?

Remember: when you are renewing a new cert, you need to remove any htaccess / nginx rule that avoid the http request (eg: redirect all to https).

[2018-03-01 20:57] simonrodan commented on #90
Many thanks, TheJoin95, for your suggestions.

The http / port 80 traffic was being redirected to port 443. I have now reopened http access on port 80.
I have removed the old certificates from server.
I generated a new set using 'authorize'
I created the new challenge file
I checked that the site is reachable - the challenge URL displays the contents of the file in .well-known/acme-challange
I the

[2018-03-01 21:20] simonrodan commented on #90
Dear Miki
I have resolved the problem by using check -t strategy.sjsu.edu instead of check strategy.sjsu.edu. I have no idea why that worked  but it allowed me to proceed to the certificate request and the site is now back up and running with certificates in place.
Thanks very much for your suggestion

[2018-03-03 20:22] programster opened #91 "Remove certificates from status?"
Hey there,
I've just started using the tool and it's fantastic! Thank you very much. This is going to save me so much time.

### My Problem
I couldn't find any documentation on what commands to run to remove certificates from the tool. E.g. stop them showing up in the output from `acmephp status`. For now, I just want to remove the certificates from my status output, but what if I wanted to go fur

[2018-03-04 00:37] tgalopin commented on #91
Hello @programster,

Thanks for the feedback. For the moment it's not possible unfortunately, but it shouldn't be that difficult to add :) .

[2018-03-15 11:43] benjiMediaBowl commented on #89
Any update on this? With LE announcing that wildcard certificates are now available, but only with v2 support it would be nice if acmephp could be used.

[2018-03-22 05:35] tgalopin commented on #89
I think this is now merged (https://github.com/acmephp/acmephp/pull/92) and it will be shipped in the next release (no ETA yet, but should be soon).

[2018-03-22 05:35] #89 closed

[2018-03-22 16:31] jderusse commented on #90
You may have to request a new authorization challenge.

What's about using the new "run" command?

[2018-03-22 16:33] jderusse commented on #71
did you try to call the "auth" command to regenerate a new challenge?

I suggest to use the new "run" command to perform everything automatically

[2018-03-22 16:35] jderusse commented on #70
can you try the new "run" command?

[2018-03-22 16:36] jderusse commented on #51
If you're talking about the root certificate, it's used in the test https://github.com/acmephp/acmephp/blob/master/tests/run.sh#L8-L25

[2018-03-22 16:38] jderusse commented on #69
I suggest to use the docker image that work out of box and embed all the require dependencies

[2018-03-22 16:39] #69 closed

[2018-03-22 17:34] #91 closed

[2018-03-22 17:34] #84 closed

[2018-03-22 21:21] jderusse commented on #88
At time you write the issue, the application supported acme V1, but you are referencing draft 9 (acme v2).
Now, acme have been updated to support acme v2, and I've made some changes and expose new interfaces for BC, can you have a second look to your issue?

[2018-03-22 21:22] jderusse commented on #75
IMO the best way to do it is to implement a custom solver in charge of uploading the files at the right place. See Route53 solver for instance

[2018-03-22 21:38] jderusse commented on #74
I suggest to use the new run command and update the .yml file to add new domains. The run command is optimized to request only new domains

[2018-03-23 09:02] Manawyrm opened #99 "Use custom CSR"
Hi,

I'm currently trying to use acmephp in some self-written software.
AcmeClient->finalizeOrder unfortunatly only accepts CSRs in the form of CertificateRequest-objects, not directly as a CSR, because the requestCertificate-Method then calls signCertificateRequest to generate a CSR.

I'd like to provide a custom CSR as a string. Any ideas on how to nicely implement this?
One method I could imagi

[2018-03-23 10:14] jderusse commented on #99
I like the idea!

To keep BC, I think the best way to do it to:
 - Update `CertificateRequest` to add methods `isSigned`, `setSignature`, `getSignature`
- Create a `CertificateRequestFactory` with methods `createFromString`, and `createFromDistinguishedName` (don't forget to parse the string and provide a DistinguishedName. Beware some methods like `requestCertificate` uses the `$csr->getDistingui

[2018-03-23 16:01] jderusse commented on #62
once #100 merged, it would be possible to mirror files to a an other location.

[code]

Note that you can also use ftp/sftp

[2018-03-27 15:24] YannickHermans opened #103 "acmephp / core update"
Hiya,

I was planning on using the core class of acmephp for implementing Let's encrypt certificate handling seeing as it has lots of possibilities.
Now i noticed that it was version 1.0.0-beta4 using composer ([https://packagist.org/packages/acmephp/core](https://packagist.org/packages/acmephp/core)) while acmephp/acmephp includes version 1.0.0-beta5.

Once implemented i'll have to deploy it to d

[2018-03-27 16:31] philipsharp commented on #88
@jderusse That was my mistake for referencing the newer draft, although the language "the client will need to poll the authorization resource to see when it is finalized" is in all the drafts back to 0.

I will write a test script to see if the v2 changes allow me to get this data. At first glance the `CertificateOrder` looks like the right object but this implementation doesn't have the order met

[2018-03-27 21:32] jderusse commented on #88
The expirity is not return in the new CertificateOrder object. I didn't have to use it because I noticed that each time I request a new Order, let's encrypt returns eithre
 - a new AuthorizationChallenge in state pending
- a previous alreadu validated AuthorizationChallenge

In the second case, I didn't have to re-validate it, the new implementation of acme-php just need to validate fresh pending

[2018-04-02 22:36] alexwilczewski commented on #71
I run a cron once per week $ php acmephp.phar request --force <domain>
It was successfully renewing my multi-domain certificates for the first month, then I was receiving the authorization errors. I am using version 1.0.0-beta5.

@jderusse I am looking into your recent changes. I didn't know there was an "auth" or "run" command.

[2018-04-02 22:37] tgalopin commented on #71
@alexwilczewski Temporarily, you can redo the authroization process manually. It will fix the problem in short term, but I suggest indeed to use the run command for a better solution.

[2018-04-03 18:00] alexwilczewski commented on #71
I used the `run` command. It is useful and convenient.

In regards to the `run` command:
I tried creating a multi-domain certificate by listing subject_alternative_names. However, my alternative domain names route to separate directories on my webserver. This caused problems when using the solver, because only 1 directory can be used for http-file.

In regards to the current version:
I ran into th

[2018-04-14 18:56] philipsharp commented on #88
I'm still looking into this and hope to have an answer this week.

[2018-04-29 05:00] sakumatto commented on #71
Hi all. I wrote into a post my method of renewing with AcmePHP: [https://sslowner.com/lets-encrypt-and-acmephp-for-free-certificates-automatic-renewal-with-dns-challenge.html](https://sslowner.com/lets-encrypt-and-acmephp-for-free-certificates-automatic-renewal-with-dns-challenge.html)

I use DNS challenge. Hope this helps us all who have been having problems to automate the process.

[2018-05-15 16:40] PK232 commented on #71
I looked sakumatto’s renwal script referenced in the URL (….with-dns-challenge.html) above and it appears that the active part that does the renewal is the standard means of forcing a renewal from the command line as shown below.

php /home/user/acmephp.phar request --force $domain -a $www

Am I missing something in the script that makes it more than being an automatic renewal script that can be r

[2018-05-15 16:50] alexwilczewski commented on #71
@PK232 I think you may run into the same problem again. It appears that the force script never "renews" something that is necessary for LetsEncrypt. (I don't know what that is.) I wrote a script that runs through the full renewal process and it has been working well for a few months now. I do not have them on hand, but I will outline the process below.

Notes:
- I can run my script on the server w

[2018-05-15 18:14] PK232 commented on #71
If I am reading this right, when you renew you start over as if you never had a certificate before, except for registering, and have automated that whole process using a script.  If that is the case I suspect cron could run it every two months since it is only the ability to renew that only lasts 30 days. Thanks for the heads up.   It saved me waiting six weeks to find out I was back to square one

[2018-05-15 20:12] alexwilczewski commented on #71
I execute the `renew` script as an executable. This is my entrypoint for my cronjob. It's main purpose is to add an `acme` executable to the $PATH.

If you look at the `renew` script, I add `php-bin` to my path before running the php renewal script. Inside my `php-bin` directory, I have a symlink `acme` that points to the `acme.phar`.

I have attached things to get you going. I hope it's useful. Y

[2018-05-16 19:04] PK232 commented on #71
@alexwilczewski
Thanks for taking the time to be so helpful.   I am more of a sys. admin/network person than a programmer and have used bash for years to solve small problems on my servers.  As a result I am very comfortable with bash and will try using it along with your previous guide posts to find a solution before my current certificates expires.    If it doesn’t work out, I will give your lat

[2018-06-20 18:36] ingluisjimenez commented on #89
Hi @tgalopin @jderusse, I know this issue is closed, but have you considered a tentative date for the next release of Acme PHP?

Also, is there any way that I can help, either testing or contributing to the codebase?

Thanks in advance.

[2018-06-21 13:18] kirtangajjar opened #110 "Change default solver method for wildcard domains"
Running `bin/acme authorize '*.domain.ext'` gives following error -
[code]

In such case, acmephp should set `dns` as default resolver(If the domain starts with *)

if user specifies any non-dns solver, then error should be thrown that non-dns solvers are not allowed by acme in wildcard domains.

[2018-06-28 18:22] matjon opened #114 "Update years in ./LICENSE"
Hello,
The `./LICENSE` file is outdated - its header should probably be:

    Copyright (c) 2016-2018 Titouan Galopin
    Copyright (c) 2016-2018 Jérémy Derussé

The convention is to include only significant contributors in the copyright header.

[2018-07-02 06:43] kirtangajjar opened #118 "Merge changes to core in acmephp/core"
https://github.com/acmephp/core was last updated in 2016.

While code in https://github.com/acmephp/acmephp/tree/master/src/Core was updated 4 days ago :/

Shouldn't `acmephp/core` reflect latest changes in master 🤔

Also if possible, do tag it it so anyone can require it from composer.

[2018-07-02 08:07] jderusse commented on #118
Indeed, PR opened to automate split #119

[2018-07-02 09:01] kirtangajjar commented on #118
@jderusse Cool. When can we expect it to merge?

[2018-07-03 13:07] jderusse commented on #118
acmephp/Core and acmephp/Ssl are now automatically updated.

[2018-07-06 09:41] mrrobot47 opened #122 "Update acmephp implementation according to latest acmev2 changes"
Acmephp breaks after new letsencrypt v2 changes for all v2 requests.

According to - https://community.letsencrypt.org/t/acmev2-order-ready-status/62866

If someone would request certificate, this is the error they would get ([because of this condition](https://github.com/acmephp/acmephp/blob/master/src/Core/AcmeClient.php#L226))-
[code]

I tested and fixed it by modifying

[code]

to

[code]

bec

[2018-07-06 19:05] jderusse commented on #122
Can you confirm that #123 would fix the issue?

[2018-07-06 19:09] mrrobot47 commented on #122
@jderusse Yes. That will fix the issue.

[2018-07-06 19:41] #122 closed

[2018-08-14 22:14] alexmckinnon opened #129 "Add common name to CSR payload"
In acmephp/src/Ssl/Signer/CertificateRequestSigner.php the CSR payload returned via getCSRPayload currently doesn't contain the common name, resulting in the subject of the CSR not having a CN value defined.

Example:
`Subject: C=CA, ST=British Columbia, L=Nanaimo, O=NA/emailAddress=alex@example.com`

Adding the common name to the payload in getCSRPayload will result in:

`Subject: C=CA, ST=Britis

[2018-08-15 12:19] #129 closed

[2018-10-14 09:36] tgalopin commented on #103
Sorry for the delay answering !

I am planning to release a first stable (1.0.0) of all the components today :) .

[2018-10-14 09:36] #103 closed

[2018-10-14 09:37] tgalopin commented on #90
I am closing this issue as it seems to be solved, don't hesitate to answer or create another one if it is not. Note you can also use the new `run` command which should be much easier to setup and reuse :) .

[2018-10-14 09:37] #90 closed

[2018-10-14 09:43] #51 closed

[2018-10-14 09:44] #62 closed

[2018-10-14 09:45] tgalopin commented on #71
The `run` command should now fix this, as it launches the full renew process including authorization challenge. Don't hesitate to answer here if you still have issues!

[2018-10-14 09:45] #71 closed

[2018-10-14 09:45] #75 closed

[2018-10-14 09:46] #74 closed

[2018-10-14 09:47] tgalopin commented on #82
Sorry for the lack of answer!

I absolutely agree that this should be something we do as soon as possible, especially with the new `run` command. If you are still interested in working on this, I can definitely discuss it in more details here or on the Symfony Slack (https://symfony.com/support)!

[2018-10-14 16:29] alexwilczewski commented on #71
@tgalopin Thanks for the persistence and work on this project! :smile:

[2018-10-15 12:17] bpolaszek commented on #71
Sounds great! Can you please document the new `run` command and how to configure domains / wildcards?

[2018-10-15 12:45] tgalopin commented on #71
I will work on that indeed, the documentation is lacking.

[2018-10-26 14:58] rokclimb15 commented on #23
@tgalopin correct me if I'm wrong please, but I think it's just a matter of adding EC keytype support in https://github.com/acmephp/ssl/blob/master/Generator/KeyPairGenerator.php#L36. I believe if an ECDSA key is passed to LE, it will give you back an appropriate certificate. I'm considering taking on this work, so any direction you can give is appreciated. Thanks!

[2018-10-26 18:08] netvillage opened #136 "php parse error"
ok, new to this, so I may not know what I am talking about.
I got this to work on a win7 machine like a month ago, I used these commands to install it.
php -r "copy('https://acmephp.github.io/downloads/acmephp.phar', 'acmephp.phar');"
php -r "copy('https://acmephp.github.io/downloads/acmephp.phar.pubkey', 'acmephp.phar.pubkey');"
per the docs.
Version says 1.0.0-dev (note the dev)
Doing the same t

[2018-10-27 09:34] tgalopin commented on #136
Hello @netvillage !

I indeed included a 4.0 version of Symfony Filesystem component. Let me build a new package :) .

[2018-10-27 09:44] tgalopin commented on #23
You may be right, I didn't dig too much on this topic.

It would be awesome of you to send a PR! Don't hesitate to reach me here or on the Symfony Slack (tgalopin on symfony.com/support) if you want to discuss about it, I'd be happy to help :) !

[2018-10-27 10:46] tgalopin commented on #136
I released 1.0.1 which should fix this issue as well as decrease the package size. Don't hesitate to ping me if needed :) !

[2018-10-27 10:46] #136 closed

[2018-10-27 10:51] #114 closed

[2018-10-27 10:52] tgalopin commented on #110
Thanks for the feedback!

If you are interested by doing a PR on this, don't hesitate to ping me here or on the Symfony Slack: I'd be glad to help :) .

[2018-10-27 10:55] tgalopin commented on #71
I just deployed a new version of the documentation, including explanations on how to use the `run` command: https://acmephp.github.io/documentation/getting-started/2-obtain-certificate-easy.html.

This should help here :) . Don't hesitate to ping me if needed!

[2018-10-27 10:56] tgalopin commented on #70
I just deployed a new version of the documentation, including explanations on how to use the `run` command: https://acmephp.github.io/documentation/getting-started/2-obtain-certificate-easy.html.

This should help here :) . Don't hesitate to ping me if needed!

[2018-10-27 10:56] #70 closed

[2018-10-27 10:56] #66 closed

[2018-10-27 10:57] #48 closed

[2018-10-30 10:46] Ayesh commented on #23
I use Kelunik's acme-client (a similar acme client in PHP, but with lots of amphp goodness), and its ECC support is also in the works. I put together a small PR at kelunik/acme#22 to add ECC support, and I can say that it indeed is a matter of generating the certificate. CSR should handle fine and there is no difference in the acme protocol for ECC certificates.

However, only PHP `^7.1`  has ECC

[2018-10-30 12:51] rokclimb15 commented on #23
Thanks @Ayesh. The comment in the PHP docs says EC Keytype constant was added in 5.2.0. Maybe it wasn't implemented for `openssl_pkey_new` until more recently? I was planning to add a check for the constant being defined and throwing an exception if it isn't supported.

http://php.net/manual/en/openssl.key-types.php

[2018-10-30 20:53] Ayesh commented on #23
Interesting find, I'm actually quite surprised OpenSSL 0.9 can handle EC! I should see myself.

I think we have to check the input. For example of the bit size is 2048, 3072 or 4096, we know it's an RSA key. A "bit size" parameter could also work for EC curve as well although it has a different meaning. We would need to validate it too, because not all curves are CA/B compliant not supported in Le

[2018-11-02 15:12] tgalopin commented on #23
I'm not sure what all of this means but I think this would be a great addition to the project. If someone wants to start this work, please don't hesitate :) !

[2018-11-08 06:30] #23 closed

[2018-11-10 13:47] tgalopin commented on #23
Many thanks to @jderusse, ECDSA certificates are now in AcmePHP 1.1 :) ! https://twitter.com/acme_php/status/1061228086073704448

[2018-11-28 02:31] phlfvry opened #144 "DNS Token Incorrect"
Using AcmePHP core, I'm pulling the token from the authorization challenge and using setting it as the value for TXT record.

I get this error:
`Challenge failed (response: {"type":"dns-01","status":"invalid","error":{"type":"urn:ietf:params:acme:error:unauthorized","detail":"Incorrect TXT record \"zM5RUN0TOPEc6Kk2xwaCDxWuVRp22eRSnQSUwGZXqZk\" found at _acme-challenge.mydomain.com","status":403},"

[2018-11-28 16:58] phlfvry commented on #144
Closing this because the token retrieved from the authorization is not the correct token to be used.

[2018-11-28 16:58] #144 closed

[2018-12-10 13:57] rokclimb15 opened #147 "ChallengeFailedException thrown instead of ChallengeTimedOutException"
During an http-01 challenge timeout, ChallengeFailedException is thrown instead of the (more specific) ChallengeTimedOutException. This is due to the code on line https://github.com/acmephp/core/blob/master/AcmeClient.php#L196 being more general than the code on line https://github.com/acmephp/core/blob/master/AcmeClient.php#L200.

[2018-12-10 14:36] #147 closed

[2019-01-24 06:14] bpolaszek opened #149 "No phar for 1.1.1"
Poke @tgalopin latest PHAR is missing :(

[code]

[2019-01-24 09:16] tgalopin commented on #149
Indeed, sorry for that! Could you try again :) ?

[2019-01-25 03:07] netvillage opened #150 "Testing stuff and trying to revoke"
So I am experimenting with stuff, specifically replacing the step-by-step approach I used with your sweet RUN command (because of the expired authorization issue).
I created a certificate using
  php acmephp.phar run config.yml
and all seemed good. Then I saw the cool --DELAY parameter which will let me set # days till the cert expires (I think), that should allow me to set it to 1 day and then I

[2019-01-25 03:16] netvillage commented on #71
I am slightly confused on using the new RUN command for renewals handling the 'Authorization expired' issue. The docs on the 'setup automatic renewal' looks like it uses the 'request' command, but it seems like the thing to do is just call the run command again each night. Is that correct?

And when it expires and renews is it going to create a NEW ownership token file in the acme-challenge folder

[2019-01-25 05:53] bpolaszek commented on #149
It works now, thanks! :+1:

[2019-01-25 05:53] #149 closed

[2019-01-25 06:42] jderusse commented on #150
In fact, the option `delay` is about the remaining time to live of the certificate. Forcing a renewal would require `--delay=90`

When revoking a certificate, you're publishing the revocation through OCSP (https://letsencrypt.org/docs/revoking/). the certificate itself don"t change.

The client is basic and don"t check if a revocation has been published. It just read the certificate. Thta's why it

[2019-01-25 06:52] jderusse commented on #71
Yes, the `run` command is more like `register` + `authorize` + `check` + `request` when needed.
Calling `run` periodically is right thing to do.

note: running it every day seems overkill to me, because the certificat is valid 90 days. I personally run it once per week with `--delay=30` to get 30 days to solve issue if the renewal didnt worked.

No, the file name and location is always the same. T

[2019-01-28 03:01] netvillage commented on #71
ok, i will try it and see. thank you!

[2019-03-19 16:00] Hormah opened #154 "In Staging, this raises and 403 error causing an Exception"
When calling this method using the Staging url of LetEncrypt:
$acmeClient->requestCertificate();

On the this line:
https://github.com/acmephp/acmephp/blob/b276743c62663e6bea5c983d076d455f79f43383/src/Core/AcmeClient.php#L235

An **Exception** is raised:
#0 C:\inetpub\wwwroot\ecommerce\modules\composer\vendor\acmephp\core\Http\ServerErrorHandler.php(102): AcmePhp\Core\Http\ServerErrorHandler->crea

[2019-03-23 17:11] danbulant opened #155 "Getting challenge failed (404) even when url is accesible through internet"
Hello.
I already have some active https on domains with acme, but recently, I accidentally run the check command before uploading the file, and from when I ran that, I always get authentication failed (file not found). When I try to read the file from another computer over internet, it works. Why? I think that's something with cache, because it always need some time to authenticate but now it imme

[2019-03-23 17:23] danbulant commented on #155
![image](https://user-images.githubusercontent.com/30036876/54869444-9dd72080-4d98-11e9-8dbd-fc1b241b2abe.png)
This is screenshot of my server (I'm not directly on it). I'm not hiding IP adres because my webserver runs here so why

[2019-04-06 02:20] mrtomtom opened #156 "Cannot create .acmephp folder in elastic beanstalk?"
As far as I can tell it's not possible to use this with Elastic Beanstalk because it won't allow you to create the  .acmephp in the home folder?

[2019-04-24 02:51] itslit-tech opened #157 "Fullchain.pem file not generating"
On running the command to generate certificates for multiple domains, I see only key.public.pem and key.private.pem being created ? Should a fullchain.pem be also created so that I configure my webserver properly ? If yes, what wrong can I be doing ?

[2019-04-24 13:18] tgalopin commented on #157
Hello,

In which directory are you finding these files? Are you looking in ~/.acmephp?

[2019-05-14 13:54] itslit-tech commented on #157
Sorry, I was doing something wrong. Closing the issue.

[2019-05-14 13:54] #157 closed

[2019-05-14 14:09] itslit-tech opened #158 "Certificate file path for multiple domain certificates"
On generating certificates for multiple domains A (the main domain) and B (another domain), what should be the path or the correct configuration of the SSL certificates in the apache config if the certificates have to be fetched for the domain B?

I have set the paths in custom-http.conf as follows,
`SSLCertificateFile   path-to-certs/master/certs/A/public/fullchain.pem`
`SSLCertificateKeyFile   p

[2019-05-14 18:34] jderusse commented on #158
When you generate several certificate, 6ou need 1 ghost per certificate.
Otherwise you can create a single certificate for several domain, using SubjectAlternativeNames

[2019-05-14 21:55] netvillage commented on #71
I've automated by ssl script renewal on windows with a nightly call like this:

php acmephp.phar run config.yml

renewals work fine, except after 60 days, it starts looking for a different challenge authorization file.

"Solving challenge for domain mydomain.com...
    Create a text file accessible on URL http://mydomain.com/.well-known/acme-challenge/nI27pIwtgajBU.....ect...  containing the follo

[2019-05-15 07:25] itslit-tech commented on #158
@jderusse Thanks a lot. It worked

[2019-05-15 07:25] #158 closed

[2019-05-15 11:20] itslit-tech commented on #158
@jderusse Hi, another issue I faced with this is, in case the SSL Certificate exists for domain A, I get the following error when generating the SSL certificate for domain B  -> `cURL error 51: SSL: no alternative certificate subject name matches target host name {domain B}`.

The certificates work fine when I generate them using the below .yml for both the domains set initially. But on generating

[2019-05-23 08:47] bpolaszek opened #159 "Renewal issues - The order has not been validated"
Hello there,

I've been using AcmePHP from almost the beginning and I still have issues in renewing certificates.

For example, on February 26 I requested a certificate for a domain and 2 sub-domains and they are to be renewed on May 27. However, the automatic renewal systematically fails with the following message:

I've got the exact same issue on another domain, for another project on another s

[2019-05-27 05:55] jderusse commented on #159
Did you try the `run` command ? This one should take care of re-newing challenges

[2019-05-27 05:58] bpolaszek commented on #159
@jderusse Not yet, I usually go to https://acmephp.github.io/ where it's not documented yet. I'll give it a try. Thanks!

[2019-05-27 15:51] #159 closed

[2019-07-04 07:27] aik099 opened #160 "The "request" command always fails"
The "request" command returns this error:

[code]

Worked 3 months ago, when I was renewing a certificate.

[2019-07-04 08:16] bpolaszek commented on #160
Hi @aik099,

I think the `request` command is kinda deprecated and the documentation is not up-to-date. With the `run` command, you can define automatisms to generate challenges, expose them, check them and renew your certificates automatically. I hade the same issue with #159.

Some more information can be found [here](https://github.com/acmephp/acmephp#run-command)

Don't hesitate if you need so

[2019-07-04 08:18] bpolaszek commented on #160
@tgalopin @jderusse I know this package is not part of the Symfony ecosystem, but I do think opening a Slack channel on Symfony devs would really help. What do you think?

[2019-07-04 08:26] aik099 commented on #160
That's a move in the right direction, because running 3 commands each 3 months for every sub-domain I need and manually creating all these challenge files is really painful a process. Spent 1h in attempts to renew expired certificate.

That configuration file format seems to be pretty complex (even for me being a developer 10+ years).

Could you please write an example configuration file for my se

[2019-07-04 20:55] jderusse commented on #160
Created PR https://github.com/acmephp/documentation/pull/16 and https://github.com/acmephp/acmephp/pull/161 to deprecate old commands.

You'll find a sample of config in https://acmephp.github.io/documentation/getting-started/2-obtain-certificate-easy.html you can play with solver's adapter = local

[2019-07-05 05:49] aik099 commented on #110
How do you validate wildcard domains using `run` command command?

In my case all the sub-domains lead to same document root so `http-file` would also work, but instead I also get same `This ACME server does not expose supported challenge.` error.

[2019-07-05 06:00] jderusse commented on #110
You have to use a DNS solver.
For now only  AWS Route53 is implented

[2019-07-05 06:13] aik099 commented on #110
Theoretically `\AcmePhp\Core\Challenge\Dns\SimpleDnsSolver` (activated via `solver: dns` config file line) should also work, but I'm not sure if it will actually wait during `run` command execution for me to change DNS?

Will it?

[2019-07-05 06:17] aik099 commented on #110
I'm using Gandi.Net. It has API (see http://doc.livedns.gandi.net/) were you can:

1. create new zone file version based on existing zone file
2. add needed entries for validation to it
3. switch to new zone file version
4. after validation is done switch back to old zone file version
5. drop new zone file version created for validation only

[2019-07-05 07:08] jderusse commented on #110
Sounds 5. Could you please submit a Pull Request?

[2019-07-05 07:37] aik099 commented on #110
I probably could, but I wonder how do I test that. In the test suite I haven't found examples of DNS solver test classes.

Also maybe you can point me to the correct test case where I can see how challenge fixtures are used. Generating certificates right on Let's Encrypt just to test how it works sounds like a terrible idea.

[2019-07-18 17:32] aik099 commented on #110
@jderusse PR created: #162

[2019-07-30 17:39] xiaohuilam commented on #110
I don't think resolver should be DNS by default when wildcard identifier occur.
It is a mechanism of letsencrypt, doesn't mean it is a ACME mechanism.

[2019-08-02 09:39] xiaohuilam opened #166 "Could you the repository owner provide the inverse method for CheckSign?"
https://github.com/acmephp/acmephp/blob/9203dec902f2d44cc248ba94d7417ef3ecd0d7c0/src/Ssl/Signer/DataSigner.php#L28-L67

**Usage**
- `DataSignerTest` can validate signature by `checkSign()`
-  PHP implement ACME-SERVER...

[2019-08-02 12:13] xiaohuilam opened #167 "The rightful autoloader entry is bothering me."
https://github.com/acmephp/acmephp/blob/9203dec902f2d44cc248ba94d7417ef3ecd0d7c0/bin/acme#L28-L32

I am installing acmephp globally, to `~/.composer/vendor/acmephp/acmephp/`, and i debug and develope in same folder, so i composer `installed` all the packages into `~/.composer/vendor/acmephp/acmephp/vendor/`.

When i required a new package, my old `~/.composer/vendor/`doesn't contain, but `~/.compo

[2019-08-27 14:51] dontub opened #170 "Allow PSR-18 HTTP client"
Currently the Acme PHP Core library depends on the Guzzle HTTP client. It would be nice if any [PSR-18](https://www.php-fig.org/psr/psr-18/) compatible client could be used.

[2019-08-28 13:14] dontub opened #171 "Challenge state "processing" is not handled"
The ACME spec describes the challenge state `processing` in [section 7.1.6](https://ietf-wg-acme.github.io/acme/draft-ietf-acme-acme.html#rfc.section.7.1.6). Currently it is not handled in `AcmeClient::challengeAuthorization()`. I think it should be handled like the `pending` state apart from the `POST` request to the challenge URL which is not needed.

[2019-09-28 23:54] netvillage opened #172 "Nothing created in C:\Users\Administrator\.acmephp\master\certs"
So I'm running the command
php acmephp.phar run configpp.yml
(its ver 1.1.1)

which gives me
Registering contact sysop@netvillage.com...
Loading account key pair...
Registering on the ACME server...
Account registered successfully!
Loading account key pair...
Requesting certificate order...
Solving challenge for domain ... etc...

but it never creates cert folders and stuff under master\certs\
Ear

[2019-09-29 15:22] netvillage commented on #172
ok, could this be a rate limit? I noticed my automated process ran last night and it seemed to create the folder this time. Is there a switch I can use for testing?

[2019-10-10 05:27] xiaotiantian1132 opened #174 "It looks like the private key has been destroyed."
In RequestException.php line 113:

  [GuzzleHttp\Exception\ClientException (422)]
  Client error: `POST https://v2.acme.digital-sign.com.cn/acme/new-acct` resulted in a `422 Unprocessa
  ble Entity` response:
  {"message":"The given data was invalid.","errors":{"protected.jwk.e":["The protected.jwk.e field is
  required."],"protect (truncated...)

[2019-10-10 05:30] #174 closed

[2019-10-15 02:53] xiaohuilam opened #175 "The commonName assert is conflict with some CA product's csr demand"
https://github.com/acmephp/acmephp/blob/6b65f1ae33f530cbb65c648a9c4e8846a1df1bf0/src/Ssl/DistinguishedName.php#L67

**Comodo's some IP product requires common name leave blank**
[How To Generate CSR without Common name](https://www.gogetssl.com/wiki/csr-generation/generate-csr-without-cn/)

[2019-10-21 12:32] AeonFr opened #176 "Changing --delay parameter doesn't force renewal"
Running `acmephp run config.yml` has the following output:

[code]

As far as I understand, I don't need to renew the certificate until Christmas, *but I can* if I want to.

[code]

Yet, using the following commands have no effect:

[code]

In definite, the delay parameter is setted (there's no error and the command runs), but the output doesn't change.

[code]

I'm able to renew using the step-by

[2019-10-21 12:54] jderusse commented on #176
IIRC `1` meaning wait until the certificate expires in 1 days before renewing it.

Have a try to `-d 90`

[2019-10-26 08:16] AeonFr commented on #176
Oh! I was getting it all wrong. I understand now why it didn't work...
Thanks!

[2019-10-26 08:16] #176 closed

[2019-11-06 17:25] jamesastound opened #177 ""Invalid" response with DNS Check. No indication of what is invalid."
I ran the ```host -t TXT _acme-challenge.mydomain.net``` command and it returned the key value. Then ran:

[code]

Status just comes back Invalid. Is the URL it is pointing to invalid? The DNS entry? The local token?

v1.1.1

[2019-11-06 17:57] #177 closed

[2019-12-09 07:31] msaladna opened #178 "Implement POST-as-GET"
ACMEv2 protocol is now using [POST-as-GET](https://community.letsencrypt.org/t/acme-breaking-change-most-gets-become-posts/71025) on staging requests as of December 4. POST-as-GET becomes mandatory on production requests November 2020.

Backtrace of broken request to staging,

[code]

[2019-12-11 22:13] pauladams8 opened #181 "Subject alternative name causes unexpected 403 response"
When I pass an array of subject alternative names when requesting a certificate (as pass of the certificate request object), the ACME API returns an unrecognised 403 response.
The error is as follows: `AcmePhp/Core/Exception/AcmeCoreServerException with message 'A non-ACME 403 HTTP error occured on request "POST https://acme-v02.api.letsencrypt.org/acme/finalize/(redacted)/(redacted)" (response bo

[2019-12-11 22:17] pauladams8 commented on #181
After setting the `lastResponse` property to public, I got the error. The message is `Order's status ("pending") is not acceptable for finalization`.

Perhaps this could be registered as an exception for easier debugging?

[2019-12-11 22:26] pauladams8 commented on #181
I'm guessing this is because you need to authorize the other names separately (in my case the name is just a www subdomain so I didn't realise this would need separate DNS authorization).

Think I've resolved this myself, but it would still be helpful to add the `orderNotReady` type to the exception mappings in `ServerErrorHandler`.

[2019-12-11 22:26] #181 closed

[2019-12-11 22:39] jderusse commented on #181
yes, you need an authorization for each domain.

see how the command `run` works

[2019-12-17 11:29] jderusse commented on #178
Fixed in #183

[2019-12-17 11:29] #178 closed

[2019-12-18 12:08] aik099 opened #186 "DNS validation for wildcard and non-wildcard domain"
I have a config file like this:

[code]

With that configuration ACME is expecting TXT string for `_acme-challenge.sub-domain.domain.td` to have 2 different values at the same time and of course it never works.

When changing DNS manually (with `dns` solver) I can make it work by specifying TXT entries on DNS server configuration in reverse order.

However, when using automated DNS solvers, like `

[2019-12-18 12:22] jderusse commented on #186
Sounds like a bug in Solver implementation. They should merge records for the same name.

Would you mind to open a PR?

[2019-12-24 16:46] gkarugi opened #187 "The client lacks sufficient authorization: User account ID doesn't match account ID in authorization"
I am having a problem verifying the dns-01 challenge. I am getting the following error
`The client lacks sufficient authorization: User account ID doesn't match account ID in authorization`

When does the UnauthorizedServerException get thrown? because all my google searches reference to the http-01 challenge for a fix.

[2019-12-25 15:43] xiaohuilam commented on #99
But i think it might be conflicting with install feature (If subscriber does not use this, ignore then).

Reason:
- `Install` feature need to read `privateKey`.
- Provide `csr` means `privateKey` is not readable for ACME PHP (or other clients, whatever)

So, i think we'd to figure it out before trying to make it.

[2020-02-17 17:50] paolobertani opened #189 "Remove a domain"
What is the proper way to remove a domain so that it doesn't show up when running `php acmephp.phar status` ?

I didn't find any clue running `help` and `list`.

Is there a manual procedure to follow?

[2020-04-02 12:19] Nevario commented on #144
Hi @pfcodes, I know you posted this a while ago but I'm stuck on the same issue...

How do i combine the token returned in the authorization challenge with the private key to generate the actual token TXT DNS record? Does Acme PHP have a built in method?

[2020-04-11 08:12] Umid-Berdiev opened #191 "400 error causing an Exception"
Hi there! I've got this error:

[code]

when I call this:
$acmeClient->challengeAuthorization($authorizationChallenges[0]);

any suggetions please

[2020-04-13 08:38] tgalopin commented on #191
Hello,

It seems the domain you are trying to create a SSL certificate for (sert.zetsoft.uz) does not answer to the HTTP challenge and return a timeout. Let's Encrypt is not able to check you own the domain and it's failing. You should either ensure your domain's server is accessible from the Internet or use a DNS challenge.

[2020-04-13 08:39] tgalopin commented on #187
Are you using the same account (`acmephp register`) than the one you are using to do the challenge?

[2020-04-13 08:41] tgalopin commented on #172
You can use the staging environment:

[code]

[2020-04-13 08:41] #172 closed

[2020-04-13 08:50] tgalopin commented on #175
I'm pretty sure they ask to enter `KEEP EMPTY`, not to actually leave it empty, or do they?

[2020-04-13 08:56] tgalopin commented on #170
I'm thinking about integrating the Symfony HttpClient instead of Guzzle: much lighter, better abstraction, much more capabilities. It's a big task however, I'll see :) .

[2020-04-13 15:58] #175 closed

[2020-04-13 22:35] jderusse commented on #170
I'm thinking about replacing AWS by AsyncAws (that use Symfony/httpClient too)

[2020-04-21 04:07] pfcodes commented on #144
I want to say base64 encoding? Sorry I don't really remember and I regret not posting the answer.

[2020-05-07 22:32] kalada opened #194 "A non-ACME 400 HTTP error occured on request"
Attempting to integrate the acmephp library into my project, but I keep getting this error

Here's the client initialization code
`
       public static function getClient()
       {
            $secureHttpClientFactory = new SecureHttpClientFactory(
             new GuzzleHttpClient(),
            new Base64SafeEncoder(),
            new KeyParser(),
            new DataSigner(),
            new

[2020-05-09 08:25] guldil opened #195 "Lost with documentation..."
Hello,

I'm trying to get a certicate with Gandi, it's working but i can't find where is my cert file ?

My config.yml :
[code]
Result :
[code]
Please help :)

Guldil

[2020-05-09 08:27] guldil commented on #195
ok i found !

https://acmephp.github.io/documentation/getting-started/2-obtain-certificate-hard.html#4-get-your-certificate

Anyway i dont understand how work the example with route53 or ftp.

May be you could explain the yml file ?

[2020-05-14 08:40] stefanmcds-mnt opened #197 "Upgrade Monolog"
Pelase upgrate  up to monolog 2.x

[2020-05-19 10:05] lucasff commented on #195
The docs can be much better, you can write an submit a PR :)

Anyways, Route53 and FTP are SOLVER methods of RETRIEVING a certificate. With this in mind, you can think as of FTP being a certificate in a remote server that you just need to "copy", or do filesystem actions.

For Route53 it's the DNS Challenge outline in the ACME protocol, where the trusted exchange happens via a DNS entry that must

[2020-05-20 10:59] wfsegers opened #199 "Confusing exceptions: some ACME errors reported as a non-ACME HTTP error"
Some acme errors are reported as a generic `AcmeCoreServerException` with an error message in the format `A non-ACME %s HTTP error occured on request "%s %s" (response body: "%s")`.

This just caused us a lot of difficulty in trying to figure out what was wrong. We use acmephp/core as part of a custom solution. And just got a response like this from Let's Encrypt during a call to `finalizeOrder`.

[2020-05-20 19:42] bfenton-smugmug commented on #154
I'm seeing this same issue. I think if this is a "known" failure mode (especially since `requestCertificate` has additional retry logic built in, I think this exception should be caught and discarded.

[2020-05-27 16:31] bfenton-smugmug commented on #154
FWIW what we ended up doing is catching the `OrderNotReadyServerException` outside of the client, grabbing the authorizations from the Order, then looping through them and retrying the pending ones. It required deviating from the `requestCertificate` flow and manually creating & finalizing orders, but it got the job done.

[2020-05-28 04:16] bonnedav opened #200 "can't make wildcard cert."
I just get `Impossible to create the root directory "C:/Users/TheD_/.acmephp/backup\var/*.davidb.tk".` when I try to do `php acmephp.phar authorize -s DNS *.[domain]`.

[2020-06-18 13:52] wayne-thorley opened #201 "http-file solver not working"
Using a yml config file I have set the solver to `http-file` with the `local` adapter and supplied a `root` path. Yet when i run `php acmephp.phar run mydomain.yml` it only runs as far as registering the account:

[code]

That's all. It doesn't attempt to request certs and doesn't output any error messages.
Looking in `/src/Core/Challenge/Http/FilesystemSolver.php` the function on line 77:

[code]

[2020-06-19 14:58] ashish-k-shah opened #202 "How to use php cli with storage"
Hello

I want to know how to use PHP CLI phar with a different domain name from my app.

I need cli command option run with PHP.

[2020-06-22 07:22] camlafit opened #203 "Fatal error"
Hello

After installed phar file as explained on [documentation](https://acmephp.github.io/documentation/getting-started/1-installation.html) and test my first config file I get this errror :
[code]

With latest version this error doesn't occur.

[2020-07-10 17:45] arthurbass opened #205 "Installing certificate error"
In InstanceProfileProvider.php line 240:

  Error retrieving credentials from the instance profile metadata server. (cURL error 28: Connection timed out after 1001 m
  illiseconds (see https://curl.haxx.se/libcurl/c/libcurl-errors.html))

[2020-07-10 18:30] arthurbass commented on #205
am I doing something wrong?

Testing the challenge for domain MYDOMAIN.COM...
Requesting authorization check for domain MYDOMAIN.COM...
Testing the challenge for domain www.MYDOMAIN.COM...
Requesting authorization check for domain www.MYDOMAIN.COM...
Cleaning up challenge for domain MYDOMAIN.COM...
You can now cleanup your DNS by removing the domain _acme-challenge._acme-challenge.MYDOMAIN.COM..
C

[2020-08-18 06:52] erlangparasu opened #206 "how to change location of cert that will created?"

[2020-08-24 15:36] camlafit commented on #201
Hello

I just try with master version (stable have some trouble).
Your root directory muste root acme directory.

In my use case,  I do :
```Alias /.well-known/acme-challenge/ "/var/lib/letsencrypt/.well-known/acme-challenge/"```

Then root part must be :
```    root: /var/lib/letsencrypt/```

Maybe could be help you

[2020-08-26 14:35] tgalopin commented on #202
Hello!

I'm not sure  to understand your issue. DId you try to use the run command with the following file: https://github.com/acmephp/acmephp#run-command ?

[2020-08-26 14:36] tgalopin commented on #203
Hello!

Thanks for the heads up, I'm going to have a look and release a new version in the coming days.

[2020-08-26 14:37] tgalopin commented on #205
Hello!

Are you using an AWS storage behind AcmePHP?

[2020-09-03 20:25] lsbescorpion opened #207 "How can I modify the challenge from http to dns-01"
I am using the library and I would like to know if this can be done, modify the challenge to my liking.

[2020-09-23 21:18] TJP85 opened #210 "Add option that allows a client to download the alternate certificate link instead of the default one"
Hello. First, I just wanted to thank you for the great work that's been done on this library. Also, any time that you can spare to review this Pull Request would be greatly appreciated.

With the upcoming changes to Let's Encrypt transitioning to using their ISRG Root X1 for signing certificates instead of the one that is cross-signed with IdenTrust’s DST Root X3, they have provided a feature that

[2020-10-05 08:42] dontub opened #211 "Same nonce is used in retry in case of badNonce error"
If the server returns a `badNonce` error containing a new nonce, the old nonce is used once again in the retry because the same data is sent again:
https://github.com/acmephp/acmephp/blob/69689279b2cfa1410655b492b03ae921c651094d/src/Core/Http/SecureHttpClient.php#L334

[2020-10-17 13:09] #171 closed

[2020-10-29 18:26] kaystrobach opened #213 "Curl Peer Verify can break validation"
## How to reproduce

* create a domain with an invalid certificate
* try to obtain an certificate (via force ssl)

you retrieve:

[code]

## Workaround (src/Core/Challenge/Http/HttpValidator.php):

modify: src/Core/Challenge/Http/HttpValidator.php

[code]

[2020-10-30 09:17] tgalopin commented on #213
Hi @kaystrobach! Could you open a PR with this option configured :)? Thanks!

[2020-11-19 21:45] jaykaypea commented on #210
Hi! Jenessa from Let's Encrypt here, just seconding this as it's a cool feature to have in general, but especially with this change! You can see more how certbot did it here: https://github.com/certbot/certbot/pull/8080

If you have any questions or need help with the feature, many of our community ACME client developers are on our forum and can answer questions! community.letsencrypt.org

And THA

[2020-11-20 13:54] tgalopin commented on #210
Hi!

I'm currently working on AcmePHP 2.0 (release in upcoming days/weeks), I'll have a look in that context :) .

[2020-11-23 19:57] msaladna opened #214 "Add External Account Binding support"
ZeroSSL is an alternative to Let's Encrypt that provides similar features, but requires `externalAccountBinding` usage in its payload. EAB is covered in [7.3.4](https://tools.ietf.org/html/rfc8555#section-7.3.4) of RFC 8555. This would provide an alternative to those looking to retain legacy compatibility when LE changes its root certificate in [September](https://letsencrypt.org/2020/11/06/own-tw

[2020-11-23 20:12] msaladna commented on #214
Didn't see [2.0 WIP](https://github.com/acmephp/acmephp/tree/2.0). 🤦‍♂️

[2020-11-23 20:12] #214 closed

[2020-11-28 08:10] leo108 opened #215 "Need a new tag for supporting Guzzle 7"
I'm using acmephp/core in my project and I'm going to upgrade guzzle to 7 for my project.

[2020-12-06 04:21] xiaohuilam opened #216 "openssl_free_key is deprecated in PHP 8"
https://github.com/acmephp/acmephp/blob/965c6b6da49541d8d616ec1ffb9f2fb03827aaf2/src/Ssl/Generator/OpensslPrivateKeyGeneratorTrait.php#L31

production.ERROR: Function openssl_free_key() is deprecated {"exception":"[object] (ErrorException(code: 0): Function openssl_free_key() is deprecated at /src/Ssl/Generator/OpensslPrivateKeyGeneratorTrait.php:31)

[2020-12-13 21:01] tgalopin commented on #210
Thanks for your help on that. I merged it in 2.0 and added tests, I'm confident it's working well. I'll release it soon :) .

[2020-12-13 21:09] tgalopin commented on #211
I'm not sure what Acme PHP should do there: if the nonce is invalid, retrying won't work but then we can't do much more can we? It should probably be handled by user code?

[2020-12-13 21:13] tgalopin commented on #207
You can have a look at the `RunCommand::challengeDomains` method in the CLI to get details on how you can use the solvers to use the validation you wish. For now there is no documentation but if you achieved what you wanted and wish to contribute documentation, that could be awesome!

[2020-12-13 21:13] #207 closed

[2020-12-13 21:29] #216 closed

[2020-12-13 21:31] #213 closed

[2020-12-13 21:45] #195 closed

[2020-12-13 21:46] #32 closed

[2020-12-13 21:46] #77 closed

[2020-12-13 21:46] #22 closed

[2020-12-13 21:47] #99 closed

[2020-12-13 21:47] #88 closed

[2020-12-13 21:47] #82 closed

[2020-12-13 21:48] #110 closed

[2020-12-13 21:49] #150 closed

[2020-12-13 21:52] tgalopin commented on #160
Closing this as 2.0 will only have the run command

[2020-12-13 21:52] #160 closed

[2020-12-13 21:53] tgalopin commented on #156
May be the case indeed, if someones has the need, feel free to open a PR!

[2020-12-13 21:53] #156 closed

[2020-12-13 21:54] tgalopin commented on #155
Maybe linked to https://github.com/acmephp/acmephp/issues/213, closing as it's old. If the problem still exists, ping me here!

[2020-12-13 21:54] #155 closed

[2020-12-13 21:55] tgalopin commented on #189
IIRC for now there isn't an tool to do that in CLI. You can remove the files in .acmephp though, if you wish to do it

[2020-12-13 21:55] #189 closed

[2020-12-13 21:56] #199 closed

[2020-12-13 21:57] #205 closed

[2020-12-13 21:57] #202 closed

[2020-12-13 22:12] tgalopin commented on #215
I just released https://github.com/acmephp/acmephp/releases/tag/1.3.0

[2020-12-13 22:12] #215 closed

[2020-12-14 19:00] #210 closed

[2020-12-19 16:50] DevyV opened #221 "Deprecated commands in documentation"
Your documentation is really too old now here: https://acmephp.github.io/documentation/
Firstly, following the docs, you will install a really old version (1.0.1).

Should you figure out how to install the latest version (not a big job but takes extra time and efforts), then again for almost all commands your docs advice you will receive:

"This command is deprecated. Use command "run" instead"

Y

[2020-12-19 16:56] DevyV opened #222 "Manual renewal does not work"
Renewal status says:
**Needs renewal? Yes**

Manual renewal just does not work with:
**php acmephp.phar request yourdomain.org -a www.yourdomain.org -a anotherdomain.org**

It always reports:
**[malformed] The request message was malformed: No order for ID xxxxxxxxxxxxxxxxxxx**

If I run:
**php acmephp.phar check -s dns yourdomain.org**

then I receive:
**[malformed] The request message was malfor

[2020-12-19 18:48] tgalopin commented on #222
Hi @DevyV !

Could you try to migrate to the run command? It would probably work better: https://github.com/acmephp/acmephp#run-command

[2020-12-19 18:49] tgalopin commented on #221
Hi!

Yes, I plan to work on the documentation when I can. You can find an example on https://github.com/acmephp/acmephp#run-command and feel free to ask me here if you have question.

[2020-12-21 12:26] dontub commented on #211
https://tools.ietf.org/html/rfc8555#section-6.5

   unacceptable (or not present), it MUST provide HTTP status code 400
   (Bad Request), and indicate the ACME error type
   "urn:ietf:params:acme:error:badNonce".  An error response with the
   "badNonce" error type MUST include a Replay-Nonce header field with a
   fresh nonce that the server will accept in a retry of the original
   query (and po

[2021-01-22 08:56] #154 closed

[2021-01-22 13:04] Hormah opened #226 "Mutilple Domains in the PHP Library - AcmeClient & AcmeClientInterface"
I have scoured the Internet to find if someone has this same issue.

I have two domains somedome.co.za and www.somedomain.co.za that should be secured via LetEncrypt Cert. I see from the various posts that the command line version deals with this but our software uses the library.

Making simple change to AcmeClient allow for mutiple Autentication request and then adding the subjectAlternativeName

[2021-01-22 13:09] tgalopin commented on #226
I'm not sure what you have in mind but anything that's feasible with the CLI is feasible with the library, as the CLI only uses the library. You can request multiple domains for a same certificate using a distinguished name that includes alternative subjects (https://github.com/acmephp/acmephp/blob/master/src/Ssl/DistinguishedName.php).

[2021-01-22 13:27] Hormah commented on #226
Unless I am missing something in how the process works, you need to request an auth for the domain and for the sub-domain. So, as a convenience. Domains array will then contain ['somedomain.co.za', 'www.somedomain.co.za']:

After line 193, add function:

    public function requestMultipleAuthorization(array $domains): array
    {
        Assert::allStringNotEmpty($domains, 'requestMultipleAuthori

[2021-01-22 14:02] tgalopin commented on #226
Ah right, you do need to request multiple authorizations. If you want to open a PR to add this helper function, I'd be glad to review it!

[2021-02-03 15:58] ziemkowski opened #229 "acmephp/core v2 requires acmephp/core v1"
When upgrading both libraries to v2, `acmephp/core` complains that it requires `acmephp/ssl` v1.

An app integrating directly to the core and ssl libraries should be able to use only the v2 releases of both libraries.

[2021-02-03 17:22] tgalopin commented on #229
Ah, indeed, let me fix that :)

[2021-02-03 21:31] tgalopin commented on #229
I just released 2.0.1 which should fix this problem.

[2021-02-03 21:31] #229 closed

[2021-02-09 15:15] piotrantosik commented on #211
I can confirm that I have the same issue.
I try to prepare a solution.

[2021-03-03 14:21] DevyV commented on #222
Hi @tgalopin,

I am quite a beginner and just cannot figure out what a proper config filw would be for my case:
I have 2 domains I wish to manage the certificate for (e.g. domain-a.com & domain-b.com).
As a result, I wish to save the certificate into a directory only because I will manually need to upload it to an appliance.

I already created the certificate with DNS challenge (as I need the cert

[2021-03-04 17:15] indulist opened #232 "Error In InstanceProfileProvider.php line 242:"
In InstanceProfileProvider.php line 242:

  Error retrieving credentials from the instance profile metadata service. (cURL error 28: Connec
  tion timed out after 1000 milliseconds (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)
   for http://169.254.169.254/latest/meta-data/iam/security-credentials/)

What does it mean?

[2021-03-14 07:00] mjac1521 opened #234 "cli command"
Hi,
I am triying to especify a diferent path for each domain that I request a certificate. I am using different variants of this command without success, php acmephp.phar authorize --solver dns yourdomain.org
Is it possible to save each domain I request in a different folder?
Sincerely Maykel

[2021-03-17 16:30] aik099 commented on #186
Sorry for the late response.

Here is the problematic code fragment:

https://github.com/acmephp/acmephp/blob/2e43e838c0cc5b28a7d6f22d8b0a2e986e6a8369/src/Cli/Command/RunCommand.php#L325-L360

It does 3 things in 3 cycles:

1. mass creates new DNS records
2. validates them from the Let's Encrypt side
3. mass clears DNS records

**Option A:**

If we turn that into a single cycle, then we lose the a

[2021-03-17 17:06] aik099 opened #235 "How to use LibDNS?"
While looking at the code I've found this line:

https://github.com/acmephp/acmephp/blob/2e43e838c0cc5b28a7d6f22d8b0a2e986e6a8369/src/Cli/Command/AbstractCommand.php#L130

It suggests that LibDNS is automatically used, when available, however, how can I make it available inside the `acmephp.phar`, that I've downloaded?

I've tried cloning this project's repo and doing `composer require daverandom/

[2021-06-14 16:17] bobmagicii opened #236 "build instructions or jwt problem"
first i saw in the log that 2.0.1 had some jwt updates so i was like maybe it will fix this problem *only one* of my domains is having. the tagged 2.0.0 release has no phar, the box.conf is still .dist, and my vague low effort attempt to build a phar by renaming box.conf and yelling at my console did not yield results.

[code]

it spends forever on this stage above. then eventually times out with

[2021-07-15 02:38] echel0n opened #237 "Implicit conversion of keys from strings is deprecated, happens when using lcobucci/jwt v3.3.4"
Issue with `Implicit conversion of keys from strings is deprecated` when using lcobucci/jwt v3.3.4, the following changes resolve the issue

Code below is located in `SecureHttpClient` class, `createExternalAccountPayload` function.

broken:
[code]

fixed:
[code]

[2021-07-18 13:33] Grendel7 opened #238 "Invalid Accept header for "get certificate" request - breaks with BuyPass"
I'm having an issue using AcmePHP (and specifically AcmePHP/Core) with the Acme server from BuyPass: https://community.buypass.com/t/k9r5cx/get-started

The issue occurs when the "get certificate" part. The [RFC section 7.4.2](https://datatracker.ietf.org/doc/html/rfc8555#section-7.4.2) states that the desired certificate format can be specified with the Accept header, and the default being `appli

[2021-07-30 09:17] roelvanduijnhoven opened #240 "PHP8 compatability"
I cannot get this package to run on PHP 8.0, and I could not find an issue on this topic yet.

I opened https://github.com/acmephp/acmephp/pull/239 to add PHP8 to the workflow. So we can see what needs to happen to make this happen.

Note: the fix in https://github.com/acmephp/acmephp/pull/231 is necessary at the minimum. But that fix is not released yet.

---

And thanks for this awesome package!

[2021-07-30 09:20] roelvanduijnhoven commented on #240
Unrelated: I feel we can better change the constraint in composer.json from `>=7.2.5` to `"~7.2.5 || ~8"`. That way it is more explicit that this package supports PHP8. I more agree; I'd be happy to provide a patch.

[2021-08-05 12:37] programster opened #241 "New Resolver - How Do I Pass API Key"
I'm trying to add support for using DigitalOcean as a DNS resolver ([GitHub Branch](https://github.com/programster/acmephp/tree/add-digital-ocean-dns-resolver)), and I managed to get it working apart from the fact that I wasn't able to have the API key passed through from the YAML configuration file. Here is an example YAML config file:

[code]

For now I am having to hardcode it as shown below:

[2021-09-22 12:20] ghost opened #244 "Error in KeyPairGenerator.php on registering with Let's Encrypt"
When attempting to register my account key in Let's Encrypt with

`php acmephp.phar register myemail@example.org`

I get the following error:
[code]
No sure if I'm doing anything wrong. I'm on a Windows 10 machine.

[2021-10-01 11:49] sips-richard commented on #197
Is there a reason that the PR to resolve this issue hasn't been merged?
https://github.com/acmephp/acmephp/pull/233

[2021-10-25 15:29] iricketson opened #247 "Public Support for RSA Key Size Configuration"
It looks like acmephp [has internal support for configuring the RSA key size](https://github.com/acmephp/acmephp/blob/2e43e838c0cc5b28a7d6f22d8b0a2e986e6a8369/src/Ssl/Generator/RsaKey/RsaKeyOption.php#L21) (e.g. 2048 vs 4096), however [it doesn't appear there is a way to define this configuration](https://github.com/acmephp/acmephp/blob/2e43e838c0cc5b28a7d6f22d8b0a2e986e6a8369/src/Cli/Command/Help

[2021-10-31 11:08] tinonetic opened #248 "In the config, what is "install", example is for AWS, what about shared hosting?"
Hi,

I'm going through the [config.yml example](https://acmephp.github.io/documentation/getting-started/2-obtain-certificate-easy.html)

In the **install** section I see the example is specific to AWS hosting... what would I put in a shared hosting environment?

![image](https://user-images.githubusercontent.com/8109147/139580017-70862991-8b90-4d19-afb5-aa98c499e843.png)

Thanks in advance for you

[2021-11-12 11:53] programster commented on #247
I just hit this issue, noticing that I am generating 4096 bit keys, but AWS will only work with 2048 bit keys for a lot of their services. It would be really good to be able to specify the key size in the configuration.

[2021-12-12 14:22] #166 closed

[2022-01-01 22:26] W0rma opened #253 "padraic/phar-updater is abandoned"
[`AcmePhp\Cli\Command\SelfUpdateCommand`](https://github.com/acmephp/acmephp/blob/master/src/Cli/Command/SelfUpdateCommand.php) uses features of the abandoned package [`padraic/phar-updater`](https://github.com/humbug/phar-updater).

I'm not sure about a proper replacement.
https://github.com/consolidation/self-update seems to have similar features.

[2022-01-24 15:33] xsrf opened #255 "Documentation missing? Change ACME service"
Hey,
I may have missed the obvious, but is there any documentation besides examples?

The landing page https://acmephp.github.io/ tells me there are at least four command line arguments:
[code]
On the other hand `php acmephp.phar --help` tells me that `php acmephp.phar list` would list all commands, but it lists:
[code]
There is no mention of the above commands... And it looks like they don't work

[2022-02-16 11:11] splitice commented on #240
Can we get a release so https://github.com/acmephp/acmephp/commit/192872c085f9865f2cd90db6556acf7d13591eda can go out? PHP8 is hardly new at this point.

[2022-02-16 11:32] tgalopin commented on #240
Yes, I'll do that asap :)

[2022-02-17 09:05] connorhu commented on #170
What should we do here?  Port the source code library to use PSR-18 http client or port it to use Symfony HttpClient directly? I have done the first option, but i think the symfony httpclient can be a working thing:
https://github.com/connorhu/acmephp/blob/master/src/Core/Http/SecureHttpClient.php#L342-L353

[2022-02-17 22:23] sjsmith16190 opened #256 "Switch deprecated swiftmailer/swiftmailer dependancy to maintained symphony/mailer"

[2022-03-08 05:25] splitice commented on #240
@tgalopin hows it coming?

[2022-03-09 06:59] DevyV commented on #221
Hi!

Unfortunately, the documentation has still not been updated since 2020 (2 years!). I still do not know how to RENEW certificates with the `run` command.

Could you specify the very exact way to **RENEW** 2 certificates with the 'run' command, please?

This is the deprecated command I wanted to use:
`php acmephp.phar request yourdomain.org -a www.yourdomain.org -a anotherdomain.org`
(Note: I p

[2022-04-11 17:19] code-a-cola opened #258 "Staging environment?"
Is there an ability to use letsencrypt's staging environment for testing? It sure would come in handy with testing and not reaching limit caps.

[2022-05-11 14:30] leo108 opened #259 "Can you sync acme/core and release a new version?"
https://github.com/acmephp/core seems like not been synced for a while.

[2022-05-20 09:23] mn7zDev commented on #240
@tgalopin , any news?

[2022-05-31 17:22] #197 closed

[2022-05-31 17:22] tgalopin commented on #197
Now fixed by https://github.com/acmephp/acmephp/pull/233

[2022-06-03 05:03] W0rma commented on #256
I guess this is no longer necessary since the swiftmailer dependency was removed in https://github.com/acmephp/acmephp/pull/251

[2022-06-03 08:17] tgalopin commented on #256
Indeed, thanks!

[2022-06-03 08:17] #256 closed

[2022-06-07 20:50] tgalopin commented on #240
This should be done in 2.1:

https://github.com/acmephp/acmephp/releases/tag/2.1.0

[2022-06-07 20:50] #240 closed

[2022-06-07 20:52] tgalopin commented on #259
It is now :) !

[2022-06-14 11:49] mn7zDev commented on #240
It is not fixed yet, I can see acmephp still using abandoned library which is conflicting with the PHP8 version

https://github.com/acmephp/acmephp/blob/master/composer.json#L54
https://github.com/humbug/phar-updater/blob/master/composer.json#L15

[2022-06-22 05:18] code-a-cola opened #264 "Error During Renewal"
I am receiving an error when trying to renew domains using acmephp. The below command throws an error. The argument values have been redacted...

php ~/acmephp.phar request --force --verbose --country "XXX" --province "XXX" --locality "XXX" --organization "XXX" --unit "XXX" --email "XXX" --alternative-name www.talus2.com talus2.com

Error details are below...

Loading account key pair...
Forced re

[2022-07-18 13:16] xywf221 commented on #258
CLI does not support custom CA server.If you want to add another CA server, try editing it https://github.com/acmephp/acmephp/blob/master/src/Cli/Application.php#L28

[2022-08-09 09:59] camlafit commented on #203
Hello

Any update about this ?

Thanks

[2022-08-09 10:05] camlafit commented on #203
As latest version from looks ok https://acmephp.github.io/documentation/getting-started/1-installation.html

Could be nice to update files as I've seen a 2.1.0 in releases list :)

[2022-08-09 10:23] camlafit commented on #248
Hello

Following source code, available modes are listed at https://github.com/acmephp/acmephp/tree/master/src/Cli/Action
But I'm not any idea about deploy on shared hosting

[2022-09-05 22:47] bobmagicii opened #266 "website updates?"
git has tagged here the source for 2.1.0 but the website still tells you cli commands to get 1.0.1. im not even sure a user could use brain to get around that, as the newer tagged versions dont have the phar or signature files anymore.

[2022-09-12 21:58] karjanme commented on #200
I was able to create a wildcard certificate today. I ran the authorize command with both the domain and the wildcard.

[code]

[2022-09-13 14:22] linushstge commented on #144
Maybe outdated, but anyone with the same question.
The TXT DNS Record has to be a base64Url + sha256 encoded string of your payload.

Acme PHP already provides an encoder to get the exact TXT record:

[code]

Behind the scenes:

/core/Challenge/Dns/DnsDataExtractor.php:
[code]

RFC: https://datatracker.ietf.org/doc/html/rfc8555#section-8.4

[2022-10-25 09:10] smashi commented on #258
you can use https://acme-staging-v02.api.letsencrypt.org/directory for testing

[2022-11-23 01:40] splitice opened #267 "getResponseBodySummary(): Return value must be of type string, null returned"
Logged an error every few hours in production:

[code]

I think the answer is simply to adjust the return type to allow null (since `\GuzzleHttp\Psr7\get_message_body_summary` is capable of returning null)